/* Root colors */
:root {
  --main-light: #F2F2F7;
  --main-dark: #1C1C1E;
  
  --additional-light: #E5E5EA;
  --additional-dark: #2C2C2E;
  
  --accent-red: #FF3B30;
  --accent-green: #3BC759;
  --accent-blue: #007AFF;
  --accent-yellow: #FFCC00;
}