<link rel="stylesheet" href="{{ '/styles/article.css' | url }}">

{%- for post in postslist | reverse -%}
  <article class="card {% if post.data.category %}{{post.data.category}}{% endif %}">
    <a href="{{ post.url | url }}" class="card__link">
      {%- if pageClass == "projects" -%}
        <img src="{{ post.data.image }}" alt="{{ post.data.title }}">
      {%- endif -%}
      <h2>{{ post.data.title }}</h2>
      <p class="card__description">
        {{ post.data.description }}
      </p>
      <p class="postlinks">
        <time datetime="{{ post.date | htmlDateString }}" title="{{ post.date | readableDate }}">{{ post.date | shortDate }}</time>
        {%- for tag in post.data.tags -%}
          {%- if collections.tagList.indexOf(tag) != -1 -%}
            {%- set tagUrl -%}/blog/tags/{{ tag | slug }}/{%- endset -%}
            <span class="postlinks__span">{{ tag }}</span>
          {%- endif -%}
        {%- endfor -%}
      </p>
    </a>
  </article>
{%- endfor -%}
