<link rel="stylesheet" href="{{ '/styles/article.css' | url }}">

{%- for post in postslist | reverse -%}
  <article class="card {% if post.data.category %}{{post.data.category}}{% endif %}">
      <span>
        <a href="{{ post.url | url }}" class="card__link main__header--subsection">
        <img src="{{ post.data.image }}" alt="{{ post.data.title }}">
        {{ post.data.title }}
      </a></span>
  </article>
{%- endfor -%}
