<footer class="foot">
  <section class="foot__sect">
    <h2 class="foot__header">Давид Кистаури, 2019…</h2>
    <nav class="foot__nav foot__nav--links" aria-label="Подписаться на меня">
      {%- for link in contacts -%}
        <a class="foot__a a--primary" href="{{link.url}}">
        {%- if link.path -%}
          <svg height="1.25em" width="1em" style="vertical-align: top" fill="currentColor" aria-hidden="true" aria-label="{{link.name}}" focusable="false" data-prefix="fab"class="foot__icon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="currentColor" d="{{link.path}}"></path>
          </svg>
        {%- endif -%}{{link.name}}</a>
      {%- endfor -%}
    </nav>
  </section>
</footer>
