---
title: David Kistauri Blog
---
<body>
  <header class="blog">
    <h1>David Kistauri<br><span>Blog</span></h1>
    <nav>
      <a href="/portfolio/">Portfolio</a>
      <a href="/tags/">Tags</a>
    </nav>
    <hr>
  </header>
  <main class="blog">
    <section class="articles">
      {% for post in site.posts limit:10 %}
      {% assign tag = post.categories %}
        <article class="page {{tag}}">
          <a href="{{ post.url }}" class="page-link">
            <img data-src="{{ post.thumbnail }}" alt="" class="page-background lazyload">
            <section class="page-content">
              <h2>{{ post.title }}</h2>
              {% assign words = post.content | strip_html | number_of_words %}
              <p class="date-mins">{{ post.date | date_to_string }} • 
                  {{ words | divided_by: 180 | plus: 1 }} min read.
              </p>
            </section>
          </a>
        </article>
      {% endfor %}
      <a href="/archive" class="show-more">
        More...
      </a>
    </section>
  </main>
  {% include footer.html %}
  <script src="/assets/js/articleHeight.js"></script>
  <script async>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>