/* Root colors */
:root {
  --main-bg: #F2F2F7;
  --main-fg: #1C1C1E;
  
  --additional-bg: #E5E5EA;
  --additional-fg: #2C2C2E;
  
  --accent-red: #FF3B30;
  --accent-green: #34C759;
  --accent-blue: #007AFF;
  --accent-yellow: #FFCC00;
}