*::selection {
  background: var(--accent-blue);
  color: var(--main-bg);
}

html,
button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 18px;
}

@supports (font-variation-settings: normal) {
  html,
  button {
    font-family: "Inter var", Inter, "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-feature-settings: "case" 1, "frac" 1, "cv08" 1;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: var(--main-bg);
  color: var(--main-fg);
  &[data-theme="dark"] {
    button {
      span {
        &.dark {
          display: none;
        }
        &.light {
          display: inline-block;
        }
      }
    }
  }
}

header,
main,
footer {
  padding-top: var(--secondary-padding);
  padding-right: var(--side-padding);
  padding-left: var(--side-padding);
  & > * {
    max-width: calc(835px - 5rem);
  }
}

header nav a,
footer nav a {
  padding: var(--fourth-padding);
  font-weight: 600;
  color: var(--main-bg);
  text-decoration: none;
  &:hover {
    color: var(--main-bg);
    text-decoration: none;
  }
  &:visited {
    color: var(--main-bg);
    text-decoration: none;
    &:hover {
      color: var(--main-bg);
      text-decoration: none;
    }
  }
}

header a,
footer a,
p:first-of-type,
blockquote,
pre {
  border-radius: var(--fourth-padding);
}

header {
  align-items: start;
  background-color: var(--additional-bg);
  nav {
    margin-bottom: var(--fourth-padding);
    a {
      display: inline-block;
      margin-right: 0.25rem;
      margin-bottom: 0.25rem;
      background-color: var(--accent-blue);
      color: var(--main-bg);
      &:hover {
        background-color: var(--main-fg);
        color: var(--main-bg);
      }
    }
  }
  button {
    grid-area: color;
    border: none;
    height: 2.125rem;
    width: 2.125rem;
    background-color: var(--accent-blue);
  }
  h1 {
    grid-area: heading;
  }
  hr {
    grid-area: hr;
    place-self: end;
  }
}

main,
footer {
  padding-bottom: var(--primary-padding);
}

main {
  flex: 1 0 auto;
  section.main__content:last-of-type {
    ol,
    ul {
      margin-block-end: 0;
    }
  }
  hr {
    margin-bottom: var(--secondary-padding);
  }
}

footer {
  flex-shrink: 0;
  background-color: var(--additional-bg);
  color: var(--additional-fg);
  section {
    h2 {
      margin-bottom: var(--fourth-padding);
    }
    nav {
      vertical-align: top;
      &.foot__cont {
        display: inline-block;
        &--site-links {
          float: right;
          a:last-of-type {
            margin-right: 0;
          }
        }
        p {
          grid-area: paragraph;
        }
        a {
          background-color: var(--accent-blue);
          color: var(--main-bg);
          &:hover {
            background-color: var(--main-fg);
          }
          &:hover::after {
            content: "←";
          }
          &::after {
            content: "→";
          }
        }
      }
      a {
        display: inline-block;
        margin-top: var(--fifth-padding);
        margin-right: var(--fifth-padding);
      }
    }
  }
}

h1,
h2 {
  letter-spacing: -0.022em;
}

h1 {
  display: block;
  width: 75%;
  margin: 0;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
}

h2 {
  margin-top: 0;
  margin-bottom: var(--third-padding);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1em;
  & + p {
    margin-top: var(--third-padding);
  }
}
p,
a,
ul,
ol,
blockquote {
  font-size: 1rem;
  letter-spacing: -0.017em;
}

p,
a,
ul,
ol {
  font-weight: 500;
}

p,
ul,
ol {
  line-height: 1.5em;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  &:not(:first-child) {
    margin-top: var(--third-padding);
  }
}

p a {
  font-size: inherit;
}

a {
  flex: inherit;
  color: var(--accent-blue);
  line-height: 1em;
  text-decoration: underline var(--accent-blue-50);
  transition: all cubic-bezier(0.15, 0.54, 0.35, 0.99) 0.5s;
  &:hover {
    color: var(--main-fg);
    text-decoration: underline var(--main-fg);
  }
  &:visited {
    color: var(--accent-indigo);
    text-decoration: underline var(--accent-indigo-50);
    &:hover {
      color: var(--main-fg);
      text-decoration: underline var(--main-fg);
    }
  }
}

ul,
ol {
  margin-block-start: 0;
  margin-block-end: var(--third-padding);
  padding-inline-start: var(--third-padding);
}

ul {
  list-style-type: none;
}

li:not(:first-of-type) {
  margin-top: var(--fourth-padding);
}

img {
  height: auto;
}

blockquote {
  margin-block-start: var(--third-padding);
  margin-block-end: 0;
  margin-inline-start: var(--primary-padding);
  margin-inline-end: 0;
}

hr {
  width: 100%;
  height: 4px;
  margin: var(--primary-padding) 0 0 0;
  border: 0;
  background-color: var(--main-fg);
}
