*::selection {
  background-color: var(--accent-red);
  color: var(--main-bg);
}

html,
button {
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
  font-size: 100%;
}

@supports (font-variation-settings: normal) {
  html,
  button {
    font-family: "Inter var", Inter, "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-feature-settings: "cv08" 1;
  }
}

body {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  color: var(--main-fg);
  background-color: var(--main-bg);
  & > div > div {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }
}

header,
main,
footer {
  padding-top: var(--secondary-padding);
  padding-right: var(--side-padding);
  padding-left: var(--side-padding);
  & > * {
    max-width: calc(1000px - 2 * var(--side-padding));
  }
}

header {
  align-items: start;
  background-color: var(--additional-bg);
  &.head--error a.head__nav__a {
    color: var(--additional-fg);
    background-color: var(--additional-fg);
    &:hover {
      color: var(--accent-red);
      background-color: var(--accent-red);
    }
    &:visited {
      color: var(--additional-fg);
      background-color: var(--additional-fg);
      &:hover {
        color: var(--accent-red);
        background-color: var(--accent-red);
      }
    }
  }
  nav.head__nav {
    margin-bottom: var(--fourth-padding);
    a.head__nav__a {
      margin-bottom: var(--fifth-padding);
      &:hover {
        color: var(--main-bg);
      }
      &.a--secondary {
        margin-top: 0;
        background-color: var(--main-bg);
        &:hover {
          color: var(--main-fg);
        }
      }
    }
  }

  h1.head__header {
    display: block;
    margin: 0;
    font-size: 2.25em;
    font-weight: 700;
    span.head__header__span {
      opacity: 0.5;
    }
  }
}

main,
footer {
  padding-bottom: var(--primary-padding);
}

main {
  &.main--portfolio a {
    text-decoration: none;
  }
  &.main--error article.main__sect--arts__art {
    background-color: var(--accent-red);
    &:hover {
      background-color: var(--accent-red);
      &:nth-of-type(2) a p {
        color: var(--accent-red);
      }
    }
    a p {
      transition: all cubic-bezier(0.15, 0.54, 0.35, 0.99) 0.5s;
    }
  }
  section.main__sect--arts,
  ol.main__ol--arts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--third-padding);
  }
  section {
    &.main__sect--arts__pages {
      align-self: end;
    }
    &.main__sect--content {
      &:last-of-type {
        ol,
        ul {
          margin-bottom: 0;
        }
      }
      h2.main__sect--content__header {
        margin-bottom: var(--fourth-padding);
      }
    }
  }
  ol.main__ol--arts > li {
    margin-bottom: 0;
    padding: var(--third-padding);
    border-radius: var(--fourth-padding);
    background-color: var(--additional-bg);
    & > ul li:last-child {
      margin-bottom: 0;
    }
  }
  a.a--secondary {
    margin-top: var(--fifth-padding);
    background-color: var(--additional-bg);
    &:hover {
      color: var(--additional-fg);
    }
  }
  hr {
    margin-bottom: var(--secondary-padding);
  }
}

footer {
  color: var(--additional-fg);
  background-color: var(--additional-bg);
  &.foot--error nav.foot__sect__nav--links a {
    color: var(--additional-fg);
    background-color: var(--additional-fg);
    &:hover {
      color: var(--accent-red);
      background-color: var(--accent-red);
    }
  }
  section.foot__sect {
    h2.foot__sect__header {
      margin-bottom: var(--fourth-padding);
    }
    nav.foot__sect__nav {
      &--links a {
        &:hover::after {
          content: "←";
        }
        &::after {
          content: "→";
        }
      }
      a.foot__sect__nav__a {
        margin-top: var(--fifth-padding);
      }
    }
  }
}

h1,
h2 {
  line-height: 1.25em;
  letter-spacing: -0.022em;
}

h2 {
  margin-top: 0;
  margin-bottom: var(--third-padding);
  font-size: 1.5em;
  font-weight: 700;
  & + p {
    margin-top: var(--third-padding);
  }
}

h3 {
  margin-bottom: 0;
}

h3,
p,
a,
ul,
ol,
blockquote,
table {
  font-size: 1rem;
  letter-spacing: -0.017em;
}

p,
ul,
ol {
  font-weight: 500;
}

p,
ul,
ol,
blockquote,
table,
figcaption {
  line-height: 1.5em;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  &:not(:first-child) {
    margin-top: var(--third-padding);
  }
  &.main__sect--content__container {
    margin-top: 0;
  }
  &.date-tags {
    font-size: 0.8rem;
    * {
      margin-right: var(--fifth-padding);
    }
    a.date-tags__a {
      text-decoration: underline;
      color: inherit;
      &:hover {
        color: var(--accent-red);
      }
    }
  }
}

p a {
  font-size: inherit;
}

a {
  flex: inherit;
  line-height: 1em;
  transition: all cubic-bezier(0.15, 0.54, 0.35, 0.99) 0.5s;
  &:hover {
    color: var(--accent-red);
  }
  &:visited {
    color: var(--accent-indigo);
    &:hover {
      color: var(--accent-red);
    }
  }
  &:not(.a--primary) {
    color: var(--accent-blue);
  }
  &.a--primary,
  &.a--secondary {
    display: inline-block;
    margin-right: var(--fifth-padding);
    padding: var(--fourth-padding);
    border-radius: var(--fourth-padding);
    text-decoration: none;
    font-weight: 600;
  }
  &.a--primary {
    color: var(--main-bg);
    background-color: var(--accent-blue);
    &:hover {
      color: var(--main-bg);
      background-color: var(--accent-red);
    }
    &:visited {
      color: var(--main-bg);
      &:hover {
        color: var(--main-bg);
      }
    }
  }
  &.a--secondary:hover {
    background-color: var(--accent-red-50);
  }
  &.a--active {
    pointer-events: none;
    cursor: default;
    &:hover {
      background-color: var(--accent-blue);
    }
  }
}

ul,
ol {
  margin-top: 0;
  margin: 0;
  padding: 0;
  li {
    list-style-position: inside;
  }
  hr {
    margin-top: var(--fourth-padding);
    margin-bottom: var(--fourth-padding);
    background-color: var(--additional-bg);
  }
}

ul > li {
  list-style: none;
}

li {
  margin-bottom: var(--fourth-padding);
}

blockquote {
  margin-top: var(--third-padding);
  margin-right: var(--primary-padding);
  margin-left: var(--primary-padding);
  margin-bottom: 0;
}

table {
  width: 100%;
  margin-top: var(--third-padding);
  border-spacing: 0;
  border-collapse: collapse;
  empty-cells: show;
  th,
  td {
    vertical-align: top;
    text-align: left;
  }
  th {
    padding: 0 var(--third-padding) 0 0;
  }
  td {
    padding: 0 var(--third-padding) var(--fifth-padding) 0;
  }
}

img {
  height: auto;
}

hr {
  width: 100%;
  height: 4px;
  margin: var(--primary-padding) 0 0 0;
  border: 0;
  background-color: var(--main-fg);
}
