@keyframes glitch-anim {
  0% {
    clip: rect(4px, 330px, 23px, 0);
  }
  20% {
    clip: rect(8px, 280px, 34px, 0);
  }
  40% {
    clip: rect(15px, 250px, 3px, 0);
  }
  60% {
    clip: rect(27px, 180px, 78px, 0);
  }
  80% {
    clip: rect(7px, 220px, 13px, 0);
  }
  100% {
    clip: rect(62px, 450px, 75px, 0);
  }
}

*.glitch {
  position: relative;
  &::before,
  &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: glitch-anim 2s infinite linear alternate-reverse;
  }
  &::before {
    left: 2px;
    text-shadow: -2px 0 var(--accent-red);
    background-color: var(--accent-red);
    clip: rect(16px, 248px, 22px, 0);
  }
  &::after {
    left: -2px;
    text-shadow: -2px 0 var(--accent-blue);
    background-color: var(--accent-red);
  }
}

*::selection {
  background: var(--accent-blue);
  color: var(--main-bg);
}

html,
button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 100%;
}

@supports (font-variation-settings: normal) {
  html,
  button {
    font-family: "Inter var", Inter, "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-feature-settings: "cv08" 1;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: var(--main-bg);
  color: var(--main-fg);
  & > div > div {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }
}

header,
main,
footer {
  padding-top: var(--secondary-padding);
  padding-right: var(--side-padding);
  padding-left: var(--side-padding);
  & > * {
    max-width: calc(800px - 5rem);
  }
}

header {
  align-items: start;
  background-color: var(--additional-bg);
  &.head--error nav a {
    background-color: var(--additional-fg);
    color: var(--additional-fg);
    &:hover {
      background-color: var(--accent-red);
      color: var(--accent-red);
    }
  }
  nav {
    margin-bottom: var(--fourth-padding);
    a {
      display: inline-block;
      margin-right: var(--fifth-padding);
      margin-bottom: var(--fifth-padding);
      background-color: var(--accent-blue);
      color: var(--main-bg);
      &:hover {
        background-color: var(--main-fg);
        color: var(--main-bg);
      }
    }
  }
}

main,
footer {
  padding-bottom: var(--primary-padding);
}

main {
  &.main--error section.main__arts article {
    background-color: var(--main-fg);
    &:hover {
      background-color: var(--accent-red);
      &:nth-of-type(2) a h2 {
        color: var(--main-fg);
      }
      a {
        color: var(--accent-red);
        *.glitch {
          &::before,
          &::after {
            animation: unset;
            display: none;
            background-color: transparent;
          }
        }
      }
    }
    &:nth-of-type(1),
    &:nth-of-type(2) {
      background-color: var(--accent-red);
    }
    a {
      color: var(--main-fg);
    }
  }
  section.main__content:last-of-type {
    ol,
    ul {
      margin-block-end: 0;
    }
  }
  hr {
    margin-bottom: var(--secondary-padding);
  }
}

footer {
  background-color: var(--additional-bg);
  color: var(--additional-fg);
  &.foot--error section {
    h2 {
      display: table;
      background-color: var(--additional-fg);
    }
    nav.foot__cont a {
      background-color: var(--additional-fg);
      color: var(--additional-fg);
      &:hover {
        background-color: var(--accent-red);
        color: var(--accent-red);
      }
    }
  }
  section {
    h2 {
      margin-bottom: var(--fourth-padding);
    }
    nav {
      vertical-align: top;
      &.foot__cont {
        display: inline-block;
        &--site-links {
          float: right;
          a:last-of-type {
            margin-right: 0;
          }
        }
        p {
          grid-area: paragraph;
        }
        a {
          background-color: var(--accent-blue);
          color: var(--main-bg);
          &:hover {
            background-color: var(--main-fg);
          }
          &:hover::after {
            content: "←";
          }
          &::after {
            content: "→";
          }
        }
      }
      a {
        display: inline-block;
        margin-top: var(--fifth-padding);
        margin-right: var(--fifth-padding);
      }
    }
  }
}

h1,
h2 {
  letter-spacing: -0.022em;
  line-height: 1.15em;
}

h1 {
  display: block;
  width: 75%;
  margin: 0;
  font-size: 2.25em;
  font-weight: 700;
  span {
    font-weight: 900;
  }
}

h2 {
  margin-top: 0;
  margin-bottom: var(--third-padding);
  font-size: 1.5em;
  font-weight: 700;
  & + p {
    margin-top: var(--third-padding);
  }
  &.main__content__tag-header {
    margin-bottom: var(--fourth-padding);
  }
}

p,
a,
ul,
ol,
blockquote,
table {
  font-size: 1rem;
  letter-spacing: -0.017em;
}

p,
a,
ul,
ol {
  font-weight: 500;
}

p,
ul,
ol,
blockquote,
table,
figcaption {
  line-height: 1.5em;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  &:not(:first-child) {
    margin-top: var(--third-padding);
  }
  &.main__content__tag-container {
    margin-top: 0;
  }
}

p:first-of-type,
a.a--primary,
blockquote,
pre {
  border-radius: var(--fourth-padding);
}

p a {
  font-size: inherit;
}

a {
  flex: inherit;
  color: var(--accent-blue);
  line-height: 1em;
  text-decoration: underline;
  transition: all cubic-bezier(0.15, 0.54, 0.35, 0.99) 0.5s;
  &:hover {
    color: var(--main-fg);
  }
  &:visited {
    color: var(--accent-indigo);
    &:hover {
      color: var(--main-fg);
    }
  }
  &.a--primary,
  &.a--secondary {
    display: inline-block;
    padding: var(--fourth-padding);
    border-radius: var(--fourth-padding);
    font-weight: 600;
    text-decoration: none;
  }
  &.a--primary {
    color: var(--main-bg);
    &:hover {
      color: var(--main-bg);
    }
    &:visited {
      color: var(--main-bg);
      &:hover {
        color: var(--main-bg);
      }
    }
  }
  &.a--secondary {
    margin-top: var(--fifth-padding);
    margin-right: var(--fifth-padding);
    background-color: var(--additional-bg);
    &:hover {
      background-color: var(--accent-blue-50);
      color: var(--additional-fg);
    }
  }
}

ul,
ol {
  margin-block-start: 0;
  margin-block-end: var(--third-padding);
  padding-inline-start: var(--third-padding);
}

ul {
  list-style-type: none;
}

li:not(:first-of-type) {
  margin-top: var(--fourth-padding);
}

img {
  height: auto;
}

blockquote {
  margin-block-start: var(--third-padding);
  margin-block-end: 0;
  margin-inline-start: var(--primary-padding);
  margin-inline-end: 0;
}

hr {
  width: 100%;
  height: 4px;
  margin: var(--primary-padding) 0 0 0;
  border: 0;
  background-color: var(--main-fg);
}
