/* Root variables */
:root {
  --main-bg: #f2f2f7;
  --main-fg: #1c1c1e;

  --additional-bg: #e5e5ea;
  --additional-fg: #2c2c2e;

  --accent-red: #ff3b30;
  --accent-green: #34c759;
  --accent-blue: #007aff;
  --accent-yellow: #ffcc00;

  --accent-pink: #ff2d55;
  --accent-indigo: #5856d6;
  --accent-orange: #ff9500;

  --accent-red-50: #f99793;
  --accent-green-50: #93dda8;
  --accent-blue-50: #79b6fb;
  --accent-yellow-50: #f9df7b;

  --accent-pink-50: #f990a6;
  --accent-indigo-50: #a5a4e6;
  --accent-orange-50: #f9c47b;

  --primary-padding: 2.25rem;
  --secondary-padding: 1.125rem;
  --third-padding: 0.5rem;
  --side-padding: 2.5rem;
}
