/* Root variables */
:root {
  // Main Background and Foreground colors
  --main-bg: #fafafa;
  --main-fg: #121212;

  // Additional Background and Foreground colors
  --additional-bg: #eeeeee;
  --additional-fg: #1c1c1c;

  // Accent colors
  --accent-red: #d50000;
  --accent-blue: #2962ff;
  --accent-purple: #768fff;

  // Half colors
  --main-fg-25: #12121240;
  --accent-red-25: #d5000040;
  --accent-blue-25: #2962ff40;
  --accent-purple-25: #768fff40;

  // Additional colors
  --additional-red-bg: #ff5252;
  --additional-green-bg: #69f0ae;
  --additional-blue-bg: #448aff;
  --additional-yellow-bg: #ffd740;

  --additional-red-fg: #1c1c1c;
  --additional-green-fg: #1c1c1c;
  --additional-blue-fg: #1c1c1c;
  --additional-yellow-fg: #1c1c1c;

  // Contrast colors
  --contrast-blue: #8c9eff;

  // Paddings
  --primary-padding: 2.4rem;
  --secondary-padding: 1.5rem;
  --third-padding: 1rem;
  --fourth-padding: 0.6rem;
  --fifth-padding: 0.4rem;

  // Side padding
  --side-padding: 2.4rem;
}

@media screen and (min-width: 1400px) {
  :root {
    --side-padding: 6.6%;
  }
}
