/* Root variables */
:root {
  --main-bg: #f2f2f7;
  --main-fg: #1c1c1e;

  --additional-bg: #e5e5ea;
  --additional-fg: #2c2c2e;

  --accent-red: #ff3b30;
  --accent-green: #34c759;
  --accent-blue: #007aff;
  --accent-yellow: #ffcc00;

  --accent-pink: #ff2d55;
  --accent-indigo: #5856d6;
  --accent-orange: #ff9500;

  --main-bg-50: rgba(242, 242, 247, 0.5);
  --main-fg-50: rgba(28, 28, 30, 0.5);

  --accent-red-50: rgba(255, 59, 48, 0.5);
  --accent-green-50: rgba(52, 199, 89, 0.5);
  --accent-blue-50: rgba(0, 122, 255, 0.5);
  --accent-yellow-50: rgba(255, 204, 0, 0.5);

  --accent-pink-50: rgba(255, 45, 85, 0.5);
  --accent-indigo-50: rgba(88, 86, 214, 0.5);
  --accent-orange-50: rgba(255, 149, 0, 0.5);

  --primary-padding: 2.25rem;
  --secondary-padding: 1.125rem;
  --third-padding: 0.5rem;
  --side-padding: 2.5rem;
}
