header.head--post {
  background-color: var(--additional-bg);
}

footer.foot--post {
  section {
    grid-template-columns: auto auto auto;
    h2:nth-of-type(2) {
      margin-top: var(--secondary-padding);
    }
    nav {
      &.foot__share {
        display: block;
        a {
          height: 1rem;
          border-radius: 0.5rem;
          background-color: var(--main-bg);
          &.tw-share-button {
            color: #1da1f2;
            &:hover {
              background-color: rgba(29, 161, 242, 0.25);
            }
            svg {
              fill: #1da1f2;
            }
          }
          &.facebook-share-button {
            color: #1877f2;
            &:hover {
              background-color: rgba(17, 120, 242, 0.25);
            }
            svg {
              fill: #1877f2;
            }
          }
          &.vk-share-button {
            color: #4680c2;
            &:hover {
              background-color: rgba(70, 128, 194, 0.25);
            }
            svg {
              fill: #4680c2;
            }
          }
          &.telegram-share-button {
            color: #2ea6d9;
            &:hover {
              background-color: rgba(46, 166, 217, 0.25);
            }
            svg {
              fill: #2ea6d9;
            }
          }
          svg {
            width: 1rem;
            height: 1rem;
            margin-right: 0.25rem;
            vertical-align: top;
          }
        }
      }
    }
  }
}
