<footer>
  <section class="portfolio">
    <article class="heading">
      <h2>About contacts</h2>
    </article>
    <article class="content contacts">
      <p class="contacts-text"><a href="/">Blog</a></p>
      <p class="contacts-text"><a href="/portfolio">Portfolio</a></p>
      <p class="contacts-text"><a href="https://github.com/dtroode">Github</a></p>
      <p class="contacts-text"><a href="https://twitter.com/dtroode">Twitter</a></p>
      <p class="contacts-text"><a href="https://instagram.com/dtroode">Instagram</a></p>
      <p class="contacts-text"><a href="https://t.me/dtroode">Telegram</a></p>
      <p class="contacts-text"><a href="https://t.me/publichnii">Telegram channel</a></p>
    </article>
    <hr>
  </section>
</footer>