<footer>
  <h2>About contacts<br><span class="nickname">@dtroode</span></h2>
  <nav>
    <a href="/" class="contacts-text">Blog</a>
    <a href="/portfolio" class="contacts-text">Portfolio</a>
    <a href="/feed.xml" class="contacts-text">RSS</a>
    <a href="https://github.com/dtroode" class="contacts-text">Github</a>
    <a href="https://twitter.com/dtroode" class="contacts-text">Twitter</a>
    <a href="https://instagram.com/dtroode" class="contacts-text">Instagram</a>
    <a href="https://t.me/dtroode" class="contacts-text">Telegram</a>
    <a href="https://t.me/dtroodechannel" class="contacts-text">Telegram channel</a>
  </nav>
</footer>