  <!-- Links -->
  <link rel="preload" href="/assets/css/fonts.css" as="style">
  <link rel="preload" href="/assets/css/colors.css" as="style">
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/colors.css">
  <link rel="stylesheet" href="/assets/css/fonts.css" media="none" onload="if(media!='all')media='all'">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="apple-touch-icon" sizes="256x256" href="/assets/img/logo/icon-block-256.png">
  <link rel="apple-touch-icon" sizes="128x128" href="/assets/img/logo/icon-block-128.png">
  <link rel="apple-touch-icon" sizes="64x64" href="/assets/img/logo/icon-block-64.png">
  <link rel="apple-touch-icon" sizes="32x32" href="/assets/img/logo/icon-block-32.png">
  <link rel="apple-touch-icon" sizes="16x16" href="/assets/img/logo/icon-block-16.png">
  <link rel="icon" type="img/png" sizes="256x256" href="/assets/img/logo/icon-256.png">
  <link rel="icon" type="img/png" sizes="128x128" href="/assets/img/logo/icon-128.png">
  <link rel="icon" type="img/png" sizes="64x64" href="/assets/img/logo/icon-64.png">
  <link rel="icon" type="img/png" sizes="32x32" href="/assets/img/logo/icon-32.png">
  <link rel="icon" type="img/png" sizes="16x16" href="/assets/img/logo/icon-16.png">

  <!-- CMS Script -->
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>