@import "../articles.scss";

header.blog {
  background-color: var(--additional-light);
}

main.blog {
  grid-template: "articles" / 1fr;
  section.articles article a {
    padding-bottom: 33.33%;
    section.page-content {
      position: absolute;
    }
  }
}

div.page-background, img.page-background {
  width: 100%;
  opacity: .5;
  pointer-events: none;
}

section.articles article a.page-link:hover {
  color: inherit;
}

a.show-more {
  display: block;
  width: calc(100% - 1rem);
  height: auto;
  text-align: center;
  background-color: var(--accent-blue);
  color: var(--main-light);
  &:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    background-color: var(--additional-dark);
    &::after {
      content: '';
    }
  }
  &::after {
    content: '';
  }
}