@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--main-dark);
    color: var(--main-light);
  }

  header {
    &.blog, &.post, &.tag {
      background-color: var(--additional-dark);
    }
    &.blog nav, &.tag nav {
      background-color: var(--main-dark);
    }
    &.post {
      nav, section.date-author p {
        background-color: var(--main-dark);
      }
    }
    &.portfolio nav {
      background-color: var(--main-dark);
    }
  }

  footer {
    background-color: var(--additional-dark);
    color: var(--additional-light);
    hr {
      border-top: 2px solid var(--additional-light);
      border-bottom: 2px solid var(--additional-light);
      background-color: var(--additional-light);
    }
  }

  a.show-more:hover, section.text p:first-of-type {
    background-color: var(--additional-dark);
  }

  hr {
    border-top: 2px solid var(--main-light);
    border-bottom: 2px solid var(--main-light);
    background-color: var(--main-light);
  }

  section.text {
    img, pre, video {
      border: 0.25rem solid var(--additional-dark);
      background-color: var(--additional-dark);
    }
  }
}