// Additional fonts
@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'case' 1, 'frac' 1;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
    font-display: fallback;
  }
}

// Selection
* {
  &::selection, &::-moz-selection {
    background-color: var(--accent-blue);
    color: var(--main-dark);
  }
}

// Main style settings
body {
  margin: 0;
  background-color: var(--main-light);
  color: var(--main-dark);
  &.portfolio::before {
    content: '';
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/img/bg-light.jpg');
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
    opacity: 0.75;
  }
}

header, main, footer {
  display: grid;
  padding-top: 2.5rem;
  padding-right: 4.375rem;
  padding-left: 4.375rem;
}

header {
  &.blog, &.tag, &.post {
    background-color: var(--additional-light);
  }
  &.blog, &.tag, &.portfolio {
    grid-template: 'heading' auto 'logo' auto 'links' auto / 50% 50%;
  }
  &.tag, &.post {
    svg {
      width: 5rem;
      height: 5rem;
    }
  }
  &.blog, &.portfolio {
    svg {
      width: 8rem;
      height: 8rem;
      border: 0.25rem solid var(--main-dark);
    }
  }
  &.post {
    grid-template: 'heading' auto 'logo' auto 'links' auto 'date' auto / 50% 50%;
    h1 {
      line-height: 5rem;
    }
  }
  svg {
    display: block;
    g {
      fill: var(--main-dark);
    }
  }
  nav {
    a {
      &.tagname {
        line-height: calc(3rem - 8px);
        text-transform: capitalize;
        color: var(--main-light);
        &#me {
          background-color: var(--accent-red);
        }
        &#works {
          background-color: var(--accent-yellow);
        }
        &#news {
          background-color: var(--accent-blue);
        }
        &#thoughts {
          background-color: var(--accent-green);
        }
        &:hover {
          color: var(--main-light);
        }
      }
    }
  }
  a, p {
    display: inline-block !important;
    width: unset;
    font-size: 2rem;
    letter-spacing: -0.05rem;
    line-height: 3rem;
  }
}

header img, img.page-background {
  pointer-events: none;
}

main {
  &.blog {
    grid-template: 'articles categories' / 50% 50%;
    section {
      &.articles {
        grid-area: articles;
      }
      &.categories {
        grid-area: categories;
      }
    }
  }
  &.post {
    grid-template: 'text empty' / 50% 50%;
  }
  &.tag {
    grid-template: 'articles empty' / 50% 50%;
  }
  &.portfolio {
    grid-template: 'section' auto / 1fr;
    section.content {
      display: grid;
      grid-template: 'sub-heading text' / 50% 50%;
      &:not(:first-child) {
        margin-top: 2.5rem;
      }
      p:not(:first-child) {
        margin-top: 1rem;
      }
    }
  }
}

footer {
  grid-template: 'heading links' / 50% 50%;
  margin-top: 4.375rem;
  padding-bottom: 4.375rem;
  background-color: var(--additional-light);
  color: var(--additional-dark);
  hr {
    border-top: 2px solid var(--additional-dark);
    border-bottom: 2px solid var(--additional-dark);
    background-color: var(--additional-dark);
  }
}

section {
  &.links {
    display: grid;
    align-content: end;
    height: calc(4.375rem + 0.25rem);
    hr {
      margin: 0;
    }
    a {
      margin-right: 0.5rem;
      font-weight: 700;
      font-style: normal;
      text-decoration: none;
      color: var(--accent-blue);
      &:hover {
        color: inherit
      }
      &::after {
        content: '→';
      }
      &:hover::after {
        content: '←'
      }
    }
  }
  &.page-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    color: var(--main-light);
    background-color: var(--accent-blue);
    h2, p {
      width: auto;
    }
    p {
      margin-top: 1.4rem;
    }
  }
  &.date {
    position: relative;
    p {
      position: absolute;
      bottom: 5px;
      left: 1rem;
      font-weight: 700;
    }
  }
  &.text {
    justify-content: start;
    h1, h2, h3, p {
      width: 100%;
    }
    h2 {
      margin-top: 1.75rem;
      margin-bottom: 1.4rem;
    }
    p, ul, ol {
      font-weight: 500;
    }
    p {
      margin-top: 1.4rem;
      &:first-of-type {
        margin: 0;
        padding: 18px;
        width: unset;
        font-style: italic;
        background-color: var(--additional-light);
      }
    }
    img, video {
      border: 0.25rem solid var(--accent-blue);
      width: calc(100% - 0.5rem);
    }
  }
  &.post {
    grid-template: 'text empty' / 50% 50%;
  }
  &.categories, &.articles {
    align-content: start;
    padding: 0;
  }
  &.categories {
    display: grid;
    grid-template: 'heading' auto 'categories' auto 'empty'auto / 1fr;
    hr {
      display: none;
    }
    a {
      &:not(:first-child) {
        margin-top: 0.7rem;
      }
      &:first-child {
        margin-top: 1.4rem;
      }
    }
  }
}

article {
  &.works p:not(:first-child) {
    margin-top: 1rem;
  }
  &.page {
    position: relative;
    width: 75%;
    background-color: var(--accent-blue);
    &:hover {
      transform: translateY(-0.5rem);
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    }
    a.page-link {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      font-style: normal;
      text-decoration: none;
      &:hover {
        color: inherit;
      }
      &::after, &:hover::after {
        content: '';
      }
      img.page-background {
        position: absolute;
        top: 0;
        left: 0;
        height: 75%;
        opacity: 0.5;
      }
      img.lazyload {
        width: 100%;
      }
    }
    &.archive-page {
      section.page-content {
        position: static;
      }
    }
  }
  &.page:not(:first-child) {
    margin-top: 2.5rem;
  }
}

article.page, section.categories a, a.show-more {
  transition: all cubic-bezier(0.15, 0.54, 0.35, 0.99) 0.5s;
}

h1, h2, p {
  margin: 0;
}

h1 {
  display: block;
  font-size: 5rem;
  line-height: 4rem;
  word-spacing: -0.2rem;
  letter-spacing: -0.2rem;
  font-weight: 700;
  width: 75%;
  span {
    color: var(--accent-blue);
  }
  &.text-header {
    line-height: 5rem;
  }
}

h2 {
  width: 75%;
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 3.125rem;
  word-spacing: -0.1rem;
  letter-spacing: -0.1rem;
}

p, a, ul, ol {
  font-size: 1.22rem;
  line-height: 1.4rem;
  font-weight: 600;
}

a {
  font-style: italic;
  flex: inherit;
  color: inherit;
  &:after {
    content: '⟶';
    text-decoration: none;
  }
  &:hover {
    color: var(--accent-blue);
    &:after {
      content: '⟵';
    }
  }
  &.image-link::after, &.image-link:hover::after {
    content: '';
  }
  &.tagname {
    display: table;
    padding: 0.1rem;
    text-decoration: none;
    &#me {
      border: 0.25rem solid var(--accent-red);
      &:hover {
        background-color: var(--accent-red);
      }
    }
    &#works {
      border: 0.25rem solid var(--accent-yellow);
      &:hover {
        background-color: var(--accent-yellow);
      }
    }
    &#news {
      border: 0.25rem solid var(--accent-blue);
      &:hover {
        background-color: var(--accent-blue);
      }
    }
    &#thoughts {
      border: 0.25rem solid var(--accent-green);
      &:hover {
        background-color: var(--accent-green);
      }
    }
    &:hover {
      color: inherit;
    }
  }
}

ul, ol {
  margin-block-start: 0.7rem;
  margin-block-end: 2.1rem;
  padding-inline-start: 20px;
}

li:not(:first-child) {
  margin-top: 0.7rem;
}

span {
  font-feature-settings: 'ss01' 1;
  font-weight: 700;
  &.link-span {
    font-style: italic;
  }
}

blockquote {
  margin-block-start: 0.7em;
  margin-block-end: 2.1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

pre {
  display: -moz-inline-grid;
  display: inline-grid;
  margin-top: 0.7rem;
  border: 0.25rem solid var(--accent-blue);
  overflow-x: scroll;
  background-color: var(--additional-dark);
  code {
    font-family: Inconsolata, Consolas, 'Courier New', Courier, monospace !important;
    span {
      font-weight: unset;
    }
  }
}

pre, code {
  &::-webkit-scrollbar {
    height: 0;
  }
}

a.show-more {
  display: inline-block;
  margin-top: 2.5rem;
  padding: 0.25rem;
  border: 0.25rem solid var(--accent-blue);
  width: auto;
  height: auto;
  font-size: 1.5em;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  background-color: var(--additional-light);
  cursor: pointer;
}

a.show-more:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  color: var(--main-light);
  background-color: var(--accent-blue);
}

a.show-more::after, a.show-more:hover::after {
  content: '';
}

hr {
  width: 100%;
  height: 0;
  margin: 4.375rem 0 0 0;
  border-top: 2px solid var(--main-dark);
  border-right: none;
  border-bottom: 2px solid var(--main-dark);
  border-left: none;
  background-color: var(--main-dark);
}

// Mobile style settings
@media screen and (max-width: 1103px) {
  header {
    &.post {
      section.links {
        height: calc(5.3rem + 12px);
      }
    }
  }
}

@media screen and (max-width: 950px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 750px) {
  header, main, footer {
    padding-top: 2.5rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
  header {
    &.blog, &.tag, &.portfolio {
      grid-template: 'heading' auto 'logo' auto 'links' auto / 1fr;
    }
    &.post {
      grid-template: 'heading' auto 'logo' auto 'links' auto 'date' auto / 1fr; 
    }
    a, p {
      font-size: 2.5rem;
      letter-spacing: -0.1rem;
    }
  }
  main {
    &.blog {
      grid-template: 'categories' auto 'articles' auto / 1fr;
    }
    &.post {
      grid-template: 'text' auto 'empty' auto / 1fr;
    }
    &.tag {
      grid-template: 'articles' auto 'empty' auto / 1fr;
      section.articles {
        padding-top: 0;
      }
    }
    &.portfolio {
      section.content {
        grid-template: 'sub-heading' auto 'text' auto / 1fr;
      }
    }
  }
  footer {
    grid-template: 'heading' auto 'links' auto / 1fr;
    p.contacts-text {
      line-height: 2.3rem;
      &:not(:first-child) {
        margin-top: 0.7rem;
      }
      a {
        height: 2rem;
        padding: 0.25rem;
        border: 0.25rem solid var(--accent-blue);
        display: inline-block;
      }
    }
  }
  section {
    &.links {
      height: unset;
    }
    &.articles {
      padding-top: 2.5rem;
    }
    &.categories {
      hr {
        display: block;
      }
    }
    &.date {
      height: 4rem;
      p {
        top: 0;
        bottom: unset;
        left: 0;
      }
    }
  }
  article {
    &.page {
      width: auto;
      &.archive-page {
        h2 {
          margin-bottom: 0;
        }
      }
    }
    &.empty {
      display: none;
    }
  }
  h2 {
    width: auto;
    margin-bottom: 1.4rem;
  }
  p, a, ul, ol {
    width: auto;
    font-size: 1.83rem;
    line-height: 2.1rem;
  }
  pre {
    width: calc(100vw - 5rem);
    code {
      font-size: 1.5rem;
    }
  }
  a.show-more {
    display: block;
    font-size: 2rem;
  }
  svg {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }
}

// Dark color theme style settings
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--main-dark);
    color: var(--main-light);
    &.portfolio::before {
      background-image: url('/assets/img/bg-dark.jpg');
    }
  }
  header {
    &.blog, &.tag, &.post {
      background-color: var(--additional-dark);
    }
    &.blog, &.portfolio {
      svg {
        border: 0.25rem solid var(--main-light);
      }
    }
    svg {
      g {
        fill: var(--main-light);
      }
    }
  }
  footer {
    background-color: var(--additional-dark);
    color: var(--additional-light);
    hr {
      border-top: 2px solid var(--additional-light);
      border-bottom: 2px solid var(--additional-light);
      background-color: var(--additional-light);
    }
  }
  section {
    &.text {
      p:first-child {
        background-color: var(--additional-dark);
      }
    }
  }
  a.show-more {
    background-color: var(--additional-dark);
  }
  hr {
    border-top: 2px solid var(--main-light);
    border-bottom: 2px solid var(--main-light);
    background-color: var(--main-light);
  }
}