body {
  background-color: var(--main-fg-25);
  filter: grayscale(1);
}

footer {
  background-color: transparent;
}

figure {
  margin: 0;

  a {
    display: contents;
  }

  figcaption {
    margin-top: var(--fifth-padding);
    margin-bottom: 0;

    font-size: 0.8rem;
  }
}
