.card {
  position: relative;

  margin-bottom: var(--main-padding);
}

span.card__span {
  display: block;
  margin-left: -2px;

  & + section {
    margin-top: var(--third-padding);
  }
}

a.card__link {
  color: var(--main-fg);

  border-bottom: 1px solid var(--main-fg-25);
  
  &:hover,
  &:focus {
    color: var(--accent-red);

    border-bottom: 1px solid var(--accent-red-25);
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: 2px;
    padding-bottom: var(--third-padding);
  }

  h1 {
    display: inline;
    margin: 0;

    color: inherit;
  }
}