section.main__arts {
  grid-area: articles;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  grid-gap: 2.5rem;
  align-items: start;
  padding: 0;
  &--first article a,
  &--error article a {
    padding-bottom: 100%;
    section.art__cont {
      position: absolute;
      section.art__cont__txt {
        position: absolute;
      }
    }
  }
  &--remaining article {
    align-self: stretch;
    a {
      section.art__cont {
        position: static;
      }
    }
  }
  article {
    position: relative;
    width: 100%;
    border-radius: 0.5rem;
    transition: all cubic-bezier(0.15, 0.54, 0.35, 0.99) 0.5s;
    &:hover {
      transform: translateY(-0.5rem);
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    }
    &#work {
      background-color: var(--accent-red);
      section.art__cont__txt {
        background-color: var(--accent-red);
      }
    }
    &#thoughts {
      background-color: var(--accent-green);
      section.art__cont__txt {
        background-color: var(--accent-green);
      }
    }
    &#advices {
      background-color: var(--accent-yellow);
      section.art__cont__txt {
        background-color: var(--accent-yellow);
      }
    }
    &#learning {
      background-color: var(--accent-blue);
      section.art__cont__txt {
        background-color: var(--accent-blue);
      }
    }
    section.art__cont {
      width: 100%;
      height: 100%;
    }
    div.art__cont__bg,
    img.art__cont__bg {
      width: 100%;
      pointer-events: none;
    }
    a {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;
      overflow: hidden;
      &:hover {
        color: inherit;
      }
      &::after,
      &:hover::after {
        content: "";
      }
      section.art__cont__txt {
        border-radius: 0.5rem;
        bottom: 0;
        left: 0;
        right: 0;
        padding: var(--third-padding);
        color: #1c1c1e;
        h3 {
          width: auto;
          margin: 0 0 0.5em 0;
        }
        p {
          width: auto;
        }
      }
    }
  }
  hr {
    grid-column-start: 1;
    margin-top: 1.875rem;
  }
}
