section.main__arts {
  display: grid;
  grid-gap: var(--secondary-padding);
  article {
    position: relative;
    border-radius: 0.5rem;
    transition: all cubic-bezier(0.15, 0.54, 0.35, 0.99) 0.5s;
    &:hover {
      transform: translateY(-0.5rem);
      box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
    }
    &#work {
      background-color: var(--accent-red-50);
    }
    &#thoughts {
      background-color: var(--accent-green-50);
    }
    &#advices {
      background-color: var(--accent-yellow-50);
    }
    &#learning {
      background-color: var(--accent-blue-50);
    }
    a {
      display: block;
      border-radius: 0.5rem;
      text-decoration: none;
      padding: var(--secondary-padding);
      color: #1c1c1e;
      // span {
      //   display: block;
      //   width: auto;
      //   margin: 0 0 1rem 0;
      //   font-size: 1.5rem;
      //   font-weight: 700;
      //   line-height: 1.1em;
      //   letter-spacing: -0.021em;
      // }
      p {
        width: auto;
        margin-top: var(--third-padding);
        &:nth-of-type(1) {
          font-weight: 600;
          font-style: italic;
        }
      }
    }
  }
  hr {
    grid-column-start: 1;
    margin-top: 0;
  }
}
