article.card {
  position: relative;

  margin-bottom: var(--secondary-padding);

  a img {
    margin-bottom: 0.25rem;
  }

  p {
    max-width: 700px;
  }

  h2 {
    margin-bottom: 0.5rem;
  }

  p.card__description {
    margin-top: 0.5rem;
  }
}
