@font-face {
  font-weight: normal;
  font-family: "Fira Code";
  src: url(../fonts/FiraCode.woff2?v=3.5) format("woff2");
}

:root {
  // code colors
  --code-fg: #000000;
  --punctuation: #777777;
  --comment: #aa3731;
  --tag: #7a3e9d;
  --string: #448c27;
  --function: #325cc0;
}

pre,
code {
  color: var(--main-fg);
  font-family: "Fira Code", monospace;
  tab-size: 2;
}

pre::selection,
code::selection {
  background-color: var(--accent-red);
}

pre {
  box-sizing: border-box;
  max-width: 700px;
  margin-top: var(--third-padding);
  margin-bottom: 0;
  padding-left: var(--primary-padding);
  overflow-x: auto;

}

code {
  font-size: 1em;
  span {
    font-weight: unset;
  }
}

.token {
  &.prolog,
  &.doctype,
  &.cdata,
  &.punctuation {
    color: var(--punctuation);
  }
  &.number {
    color: var(--tag);
  }
  &.tag,
  &.property,
  &.function {
    color: var(--function);
  }
  &.boolean,
  &.string,
  &.entity,
  &.url {
    color: var(--string);
  }
  &.tag-id,
  &.selector,
  &.atrule-id,
  &.attr-value,
  &.keyword,
  &.control,
  &.directive,
  &.unit,
  &.statement,
  &.regex,
  &.atrule,
  &.placeholder,
  &.variable {
    color: var(--code-fg);
  }
  &.comment,
  &.triple-quoted-string {
    color: var(--comment);
  }
}

code.language-javascript,
.token.attr-name {
  color: var(--function);
}

code {
  &.language-css,
  &.language-scss {
    color: var(--string);
  }
  
  &.language-css &.token.string,
  &.language-scss &.token.string,
  &.style &.token.string {
    color: var(--string);
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    // code colors
    --code-fg: #cecece;
    --punctuation: #708b8d;
    --comment: #dfdf8e;
    --tag: #71ade7;
    --string: #95cb82;
    --function: #cc8bc9;
  }
}
