@font-face {
  font-family: "Roboto Mono";
  font-weight: normal;
  src: url(../fonts/RobotoMono-Regular.woff2?v=3.5) format("woff2");
}

:root {
  // Code colors
  --code-fg: #728fcb;
  --comment: #b6ad9a;
  --tag: #063289;
  --function: #b29762;
  --selector: #2d2006;
  --string: #728fcb;
}

pre,
code {
  white-space: pre-wrap;
}

code[class*="language-"] {
  font-family: "Roboto Mono", monospace;
  direction: ltr;
  text-align: left;
  word-spacing: normal;
  word-break: break-word;
  tab-size: 4;
  hyphens: none;
  hyphens: none;
  color: var(--code-fg);
  text-shadow: none;
}

pre[class*="language-"] {
  direction: ltr;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  tab-size: 4;
  hyphens: none;
  hyphens: none;
  color: var(--code-fg);
  text-shadow: none;
}

pre[class*="language-"]::selection,
code[class*="language-"]::selection {
  text-shadow: none;
  background-color: var(--accent-red-25);
}

.token {
  &.comment,
  &.prolog,
  &.doctype,
  &.cdata,
  &.punctuation {
    color: var(--comment);
  }
  &.namespace {
    opacity: 0.7;
  }
  &.tag,
  &.operator,
  &.number {
    color: var(--tag);
  }
  &.property,
  &.function {
    color: var(--function);
  }
  &.tag-id,
  &.selector,
  &.atrule-id {
    color: var(--selector);
  }
}

code.language-javascript,
.token.attr-name {
  color: var(--function);
}

code {
  &.language-css,
  &.language-scss {
    color: var(--string);
  }
}

.token {
  &.boolean,
  &.string,
  &.entity,
  &.url {
    color: var(--string);
  }
}

.language-css .token.string,
.language-scss .token.string,
.style .token.string {
  color: var(--string);
}

.token {
  &.attr-value,
  &.keyword,
  &.control,
  &.directive,
  &.unit,
  &.statement,
  &.regex,
  &.atrule,
  &.placeholder,
  &.variable {
    color: var(--string);
  }
  &.deleted {
    text-decoration: line-through;
  }
  &.inserted {
    border-bottom: 1px dotted var(--selector);
    text-decoration: none;
  }
  &.italic {
    font-style: italic;
  }
  &.important,
  &.bold {
    font-weight: bold;
  }
  &.important {
    color: var(--function);
  }
  &.entity {
    cursor: help;
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    // Code colors
    --code-fg: #afa0fe;
    --comment: #6c6783;
    --tag: #e09142;
    --function: #c4b9fe;
    --selector: #eeebff;
    --string: #fc9;
  }
}
