@font-face {
  font-weight: normal;
  font-family: "Fira Code";
  src: url("/fonts/FiraCode.woff2") format("woff2");
}

:root {
  --code-fg: #000;
  --punctuation: #777;
  --comment: #aa3731;
  --tag: #7a3e9d;
  --string: #448c27;
  --function: #325cc0;
  --orange: #ffbc5d;
}

pre,
code {
  line-height: 1.5rem;
}

mark {
  display: inline-block;
  background-color: var(--orange);
}

.token.prolog,
.token.doctype,
.token.cdata,
.token.punctuation {
  color: var(--punctuation);
}

.token.number {
  color: var(--tag);
}

.token.tag,
.token.property,
.token.function {
  color: var(--function);
}

.token.boolean,
.token.string,
.token.entity,
.token.url {
  color: var(--string);
}

.token.tag-id,
.token.selector,
.token.atrule-id,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule,
.token.placeholder,
.token.variable {
  color: var(--code-fg);
}

.token.comment,
.token.triple-quoted-string {
  color: var(--comment);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --code-fg: #cecece;
    --punctuation: #708b8d;
    --comment: #dfdf8e;
    --tag: #71ade7;
    --string: #95cb82;
    --function: #cc8bc9;
    --orange: #4d391c;
  }
}
