@font-face {
  font-weight: 500;
  font-family: 'Inter';
  font-style: normal;
  src: url('/fonts/Inter-Medium-subset.woff2') format('woff2');
  font-display: swap;
  unicode-range: U+21-7E, U+A2, U+A3, U+A5, U+A8, U+A9, U+AB, U+AE, U+B4, U+B8, U+BB, U+2C6, U+2DA, U+2DC, U+401, U+410-44F, U+451, U+2013, U+2014, U+2018-201A, U+201C-201E, U+2022, U+2026, U+2039, U+203A, U+20AC, U+2122, U+2190, U+2192;
}

@font-face {
  font-weight: 500;
  font-family: 'Inter';
  font-style: italic;
  src: url('/fonts/Inter-MediumItalic-subset.woff2') format('woff2');
  font-display: swap;
  unicode-range: U+21-7E, U+A2, U+A3, U+A5, U+A8, U+A9, U+AB, U+AE, U+B4, U+B8, U+BB, U+2C6, U+2DA, U+2DC, U+401, U+410-44F, U+451, U+2013, U+2014, U+2018-201A, U+201C-201E, U+2022, U+2026, U+2039, U+203A, U+20AC, U+2122, U+2190, U+2192;
}

@font-face {
  font-weight: 700;
  font-family: 'Inter';
  font-style: normal;
  src: url('/fonts/Inter-Bold-subset.woff2') format('woff2');
  font-display: swap;
  unicode-range: U+21-7E, U+A2, U+A3, U+A5, U+A8, U+A9, U+AB, U+AE, U+B4, U+B8, U+BB, U+2C6, U+2DA, U+2DC, U+401, U+410-44F, U+451, U+2013, U+2014, U+2018-201A, U+201C-201E, U+2022, U+2026, U+2039, U+203A, U+20AC, U+2122, U+2190, U+2192;
}

@font-face {
  font-weight: 700;
  font-family: 'Inter';
  font-style: italic;
  src: url('/fonts/Inter-BoldItalic-subset.woff2') format('woff2');
  font-display: swap;
  unicode-range: U+21-7E, U+A2, U+A3, U+A5, U+A8, U+A9, U+AB, U+AE, U+B4, U+B8, U+BB, U+2C6, U+2DA, U+2DC, U+401, U+410-44F, U+451, U+2013, U+2014, U+2018-201A, U+201C-201E, U+2022, U+2026, U+2039, U+203A, U+20AC, U+2122, U+2190, U+2192;
}