/* Root variables */

:root {
  /* Main Background and Foreground colors */
  --main-bg: #fafafa;
  --main-fg: #121212;

  /* Additional Background and Foreground colors */
  --additional-bg: #eeeeee;
  --additional-fg: #1c1c1c;

  /* Accent colors */
  --accent-red: #d50000;
  --accent-blue: #2962ff;
  --accent-blue-text: #0039cb;
  --accent-purple: #6200ea;

  /* Half colors */
  --main-fg-25: #12121240;
  --accent-red-25: #d5000040;
  --accent-blue-25: #2962ff40;
  --accent-purple-25: #6200ea40;

  /* Additional colors */
  --additional-red-bg: #ff5252;
  --additional-green-bg: #69f0ae;
  --additional-blue-bg: #448aff;
  --additional-yellow-bg: #ffd740;
  --additional-red-fg: #1c1c1c;
  --additional-green-fg: #1c1c1c;
  --additional-blue-fg: #1c1c1c;
  --additional-yellow-fg: #1c1c1c;

  /* Contrast colors */
  --contrast-blue: #8c9eff;

  /* Paddings */
  --primary-padding: 2.4rem;
  --secondary-padding: 1.5rem;
  --third-padding: 1rem;
  --fourth-padding: 0.6rem;
  --fifth-padding: 0.4rem;

  /* Side padding */
  --side-padding: 2.4rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Main Background and Foreground colors */
    --main-bg: #121212;
    --main-fg: #eeeeee;

    /* Additional Background and Foreground colors */
    --additional-bg: #1c1c1c;
    --additional-fg: #fafafa;

    /* Accent colors */
    --accent-red: #ff5131;
    --accent-blue: #768fff;
    --accent-blue-text: #768fff;
    --accent-purple: #9d46ff;

    /* Half colors */
    --main-fg-25: #eeeeee40;
    --accent-red-25: #ff513140;
    --accent-blue-25: #768fff40;
    --accent-purple-25: #9d46ff40;

    /* Additional colors */
    --additional-red-bg: #1c1c1c;
    --additional-green-bg: #1c1c1c;
    --additional-blue-bg: #1c1c1c;
    --additional-yellow-bg: #1c1c1c;
    --additional-red-fg: #ff867f;
    --additional-green-fg: #9fffe0;
    --additional-blue-fg: #83b9ff;
    --additional-yellow-fg: #ffff74;

    /* Contrast colors */
    --contrast-blue: #304ffe;
  }
}

@media screen and (min-width: 1300px) {
  header img {
    margin-left: calc(-1 * (1.5rem + 3 * var(--fifth-padding)));
  }
  :root {
    --side-padding: 10%;
  }
}

@media screen and (max-width: 700px) {
  :root {
    --side-padding: 1.5rem;
  }
}

*::selection {
  color: var(--main-bg);

  background-color: var(--accent-red);
}

html {
  height: 100%;

  font-size: 16px;
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;

  color: var(--main-fg);

  background-color: var(--main-bg);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: subpixel-antialiased;
}

header,
main {
  padding-top: var(--secondary-padding);
}

header,
main,
footer {
  padding-right: var(--side-padding);
  padding-left: var(--side-padding);

  background-color: var(--main-bg);

  > * {
    max-width: 1000px;
  }
}

header {
  nav.head__nav {
    position: relative;

    display: inline-block;
    margin-bottom: var(--fourth-padding);

    a:first-child::before {
      position: absolute;
      top: 0;
      left: calc(-1 * (1.5rem + 3* var(--fifth-padding)));

      width: calc(1.5rem + 2 * var(--fifth-padding));
      height: calc(1.5rem + 2 * var(--fifth-padding));

      content: '';
    }
  }

  img {
    display: inline-block;
    margin-right: var(--fifth-padding);

    vertical-align: top;
  }

  a.head__a {
    margin-bottom: var(--fifth-padding);
  }
  
  img {
    height: calc(1.5rem + 2 * var(--fifth-padding));

    border-radius: 50%;
  }

  hr {
    margin: var(--secondary-padding) 0 0 0;
  }
}

@media screen and (max-width: 700px) {
  header {

    nav.head__nav a:first-child::before {
      position: absolute;
      top: calc(-1 * (1.5rem + 3* var(--fifth-padding)));
      left: 0;

      width: calc(1.5rem + 2 * var(--fifth-padding));
      height: calc(1.5rem + 2 * var(--fifth-padding));

      border-radius: 50%;

      content: '';
    }
    
    img {
      display: block;
      margin-bottom: var(--fifth-padding);
    }
    --header-size: 2.25rem;
  }
}

footer {
  padding-bottom: var(--primary-padding);
}

main hr,
footer hr {
  margin: var(--primary-padding) 0 var(--secondary-padding) 0;
}

main > section {
  &:last-child ul {
    margin-bottom: 0;
  }

  a:not(.a--secondary) {
    border-bottom: 1px solid var(--accent-blue-25);

    &:hover,
    &:focus {
      color: var(--accent-red);

      border-bottom: 1px solid var(--accent-red-25);
    }

    &:visited {
      color: var(--accent-purple);

      border-bottom: 1px solid var(--accent-purple-25);

      &:hover,
      &:focus {
        color: var(--accent-red);

        border-bottom: 1px solid var(--accent-red-25);
      }
    }
  }
}

svg.foot__icon {
  margin-right: var(--fifth-padding);
}

h1 {
  display: block;
  margin: 0 0 0 -2px;

  font-weight: 700;
  font-size: var(--header-size, 3.5rem);
  line-height: 1.15em;
  letter-spacing: -0.022em;
  word-break: break-word;

  &.head__header--subsection {
    --header-size: 2.25rem;
  }
}

h2 {
  margin-top: 0;
  margin-bottom: var(--third-padding);
  margin-left: -1px;

  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.15em;
  letter-spacing: -0.022em;

  &.foot__header {
    margin-bottom: var(--fourth-padding);
  }
}

h3 {
  margin-bottom: 0;
}

h3,
p,
ul,
ol {
  font-size: 1rem;
  line-height: 1.5em;
  letter-spacing: -0.011em;
}

p {
  margin-top: var(--third-padding);
  margin-bottom: 0;
}

a {
  color: var(--accent-blue);
  line-height: 1.5em;
  text-decoration: none;

  transition-timing-function: cubic-bezier(0.18, 0.45, 0.35, 0.99);
  transition-duration: 0.38s;
  transition-property: color, border-bottom;

  &:focus {
    outline: none;
  }

  &.a--primary:hover,
  &.a--secondary:hover,
  &:hover,
  &:focus {
    transition: none;
  }

  &.a--primary,
  &.a--secondary {
    display: inline-block;
    margin-right: var(--fifth-padding);
    padding: var(--fifth-padding) var(--fourth-padding);

    font-weight: 600;

    font-family: 'Inter SemiBold', Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;

    border-radius: var(--fourth-padding);

    &:focus {
      box-shadow: inset 0 0 0 0.15rem rgba(0, 0, 0, 0.5);
    }
  }

  &.a--primary {
    color: var(--main-bg);

    background-color: var(--accent-blue);

    transition-property: background-color, box-shadow;

    &:hover {
      color: var(--main-bg);

      background-color: var(--accent-red);
    }
  }

  &.a--secondary {
    color: var(--accent-blue-text);

    background-color: var(--additional-bg);

    transition-property: color, box-shadow;

    &:hover {
      color: var(--accent-red);
    }

    &:visited {
      color: var(--accent-blue-text);

      &:hover {
        color: var(--accent-red);
      }
    }
  }

  &.a--active {
    color: var(--main-bg);

    background-color: var(--main-fg);
    cursor: default;

    pointer-events: none;
  }

  &.a--parent-active {
    color: var(--contrast-blue);

    background-color: var(--main-fg);
  }

  &.foot__a {
    margin-top: var(--fifth-padding);
  }
}

ul,
ol {
  box-sizing: border-box;
}

ul,
ol {
  max-width: 700px;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: var(--secondary-padding);
}

ul li {
  list-style-type: none;

  &::before {
    display: inline-block;
    width: var(--secondary-padding);
    margin-left: calc(-1 * var(--secondary-padding));

    content: "—";
  }
}

li {
  &:not(:last-child) {
    margin-bottom: var(--fifth-padding);
  }
  &.li--favourite::before {
    content: "★";
  }
}

hr {
  height: 1px;

  background-color: var(--main-fg);
  border: 0;
  opacity: 0.125;
}

@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(85%);
  }

  p, table, ul, ol, blockquote, figcaption {
    opacity: 0.85;
    * {
      opacity: 1;
    }
    img {
      filter: brightness(100%);
    }
  }
}
