/* Root variables */

:root {
  /* Main Background and Foreground colors */
  --main-bg: #f5f5dc;
  --main-fg: #556b2f;

  /* Accent colors */
  --accent-red: #dc143c;
  --accent-blue: #3d64da;
  --accent-purple: #8a2be2;

  /* Half colors */
  --main-fg-25: #556b2f40;
  --accent-red-25: #dc143c40;
  --accent-blue-25: #3d64da40;
  --accent-purple-25: #8a2be240;

  /* Contrast colors */
  --contrast-red: #a52a2a;
  --contrast-red-25: #a52a2a40;

  /* Paddings */
  --main-padding: 3.84rem;
  --primary-padding: 2.4rem;
  --secondary-padding: 1.5rem;
  --third-padding: 1rem;
  --fourth-padding: 0.6rem;
  --fifth-padding: 0.4rem;

  /* Side padding */
  --side-padding: 2.4rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Main Background and Foreground colors */
    --main-bg: #2a4004;
    --main-fg: #f5f5dc;

    /* Accent colors */
    --accent-red: #ff7c87;
    --accent-blue: #8a9fff;
    --accent-purple: #d28fff;

    /* Half colors */
    --main-fg-25: #f5f5dc40;
    --accent-red-25: #ff7c8740;
    --accent-blue-25: #8a9fff40;
    --accent-purple-25: #d28fff40;

    /* Contrast colors */
    --contrast-red: #ffc0c6;
    --contrast-red-25: #ffc0c640;
  }
}

@media screen and (min-width: 1300px) {
  header img {
    margin-left: calc(
      -1 * (1.5rem + 2 * var(--fifth-padding) + var(--fourth-padding))
    );
  }
  :root {
    --side-padding: 10%;
  }
}

@media screen and (max-width: 700px) {
  :root {
    --side-padding: 1rem;
  }
}

*::selection {
  color: var(--main-bg);

  background-color: var(--accent-red);
}

html {
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "SF UI Text",
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
  margin: 0;

  color: var(--main-fg);

  background-color: var(--main-bg);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: subpixel-antialiased;
}

header,
main,
footer {
  padding-right: var(--side-padding);
  padding-left: var(--side-padding);

  background-color: var(--main-bg);

  > * {
    max-width: 1000px;
  }
}

header {
  padding-top: var(--secondary-padding);

  nav.head__nav {
    position: relative;

    display: inline-block;
    margin-bottom: calc(var(--primary-padding) - var(--fifth-padding));
  }

  a.head__a {
    margin-bottom: var(--fifth-padding);
  }
}

@media screen and (max-width: 700px) {
  header img {
    display: none;
  }
  h1 {
    --header-size: 2.25rem;
  }
}

footer {
  padding-bottom: var(--primary-padding);
}

main {
  & > section {
    &:last-child ul {
      margin-bottom: 0;
    }
  }
  a:not(.card__link) {
    border-bottom: 1px solid var(--accent-blue-25);

    &:visited {
      color: var(--accent-purple);

      border-bottom: 1px solid var(--accent-purple-25);
    }

    &:hover,
    &:focus {
      color: var(--accent-red);

      border-bottom: 1px solid var(--accent-red-25);
    }
  }
  a.a--secondary {
    margin-bottom: var(--fourth-padding);
    line-height: initial;
  }
}

svg.foot__icon {
  margin-right: var(--fifth-padding);
}

h1,
a.main__header--subsection {
  font-weight: 700;
  line-height: 1.15em;
  letter-spacing: -0.022em;
  word-break: break-word;
}

h1 {
  display: block;
  margin: 0 0 var(--third-padding) -2px;

  font-size: var(--header-size, 3rem);

  &.main__header--subsection {
    --header-size: 2.25rem;
  }

  &.tag__header {
    margin-bottom: 0.5rem;
  }
}

h2,
h3,
p,
blockquote {
  &:first-child {
    margin-top: 0;
  }
}

h2 {
  margin-top: 2rem;
  margin-bottom: var(--third-padding);
  margin-left: -1px;

  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.25em;
  letter-spacing: -0.022em;

  &.foot__header {
    margin-bottom: var(--fourth-padding);
  }
}

h3 {
  margin-bottom: 0;
}

h3,
p,
ul,
ol {
  font-size: 1rem;
  line-height: 1.5em;
  letter-spacing: -0.011em;
}

p {
  margin-top: var(--third-padding);
  margin-bottom: 0;

  &.tag_data {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
  }
}

a {
  color: var(--accent-blue);
  text-decoration: none;

  border-bottom-width: 1px;
  border-bottom-style: solid;

  transition-timing-function: cubic-bezier(0.18, 0.45, 0.35, 0.99);
  transition-duration: 0.38s;
  transition-property: color, border-bottom-color;

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    transition: none;

    img {
      box-shadow: 0 0 0 1px var(--accent-red);

      transition: none;
    }
  }

  &.main__header--subsection {
    font-size: 2.25rem;
  }

  &.a--primary,
  &.a--secondary {
    display: inline-block;

    font-weight: 600;

    &:not(:last-of-type) {
      margin-right: var(--third-padding);
    }

    &:hover,
    &:focus {
      color: var(--accent-red);
      border-bottom-color: var(--accent-red-25);
    }
  }

  &.a--primary {
    color: var(--main-fg);
    border-bottom-color: var(--main-fg-25);
  }

  &.a--secondary {
    color: var(--accent-blue);

    border-bottom-color: var(--accent-blue-25);
  }

  &.a--active {
    color: var(--contrast-red);
    border-bottom: none;

    pointer-events: none;
  }

  &.a--parent-active {
    color: var(--contrast-red);
    border-bottom-color: var(--contrast-red-25);
  }

  &.foot__a {
    margin-top: var(--fifth-padding);
  }

  img {
    transition: box-shadow cubic-bezier(0.18, 0.45, 0.35, 0.99) 0.38s;
  }
}

ul,
ol {
  box-sizing: border-box;
}

ul,
ol {
  max-width: 700px;
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  padding-left: 0;
  li {
    list-style-type: none;
  }
}

li {
  margin-top: 0.5rem;
  &.li--favourite::after {
    content: " ★";
  }
}

img {
  max-width: 100%;
}

hr {
  height: 1px;
  margin: var(--primary-padding) 0 var(--third-padding) 0;

  background-color: var(--main-fg);
  border: 0;
  opacity: 0.125;
}

@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(85%);
  }

  p,
  table,
  ul,
  ol,
  blockquote,
  figcaption {
    opacity: 0.85;
    * {
      opacity: 1;
    }
    img {
      filter: brightness(100%);
    }
  }
}
