/* Root variables */

:root {
  /* Main Background and Foreground colors */
  --main-bg: #ffffff;
  --main-fg: #000000;

  /* Additional Background and Foreground colors */
  --additional-bg: #eeeeee;
  --additional-fg: #1c1c1c;

  /* Accent colors */
  --accent-red: #d50000;
  --accent-blue: #2962ff;
  --accent-blue-text: #0039cb;
  --accent-purple: #6200ea;

  /* Half colors */
  --main-fg-25: #12121240;
  --accent-red-25: #d5000040;
  --accent-blue-25: #2962ff40;
  --accent-purple-25: #6200ea40;

  /* Additional colors */
  --additional-red-bg: #ff5252;
  --additional-green-bg: #69f0ae;
  --additional-blue-bg: #448aff;
  --additional-yellow-bg: #ffd740;
  --additional-red-fg: #1c1c1c;
  --additional-green-fg: #1c1c1c;
  --additional-blue-fg: #1c1c1c;
  --additional-yellow-fg: #1c1c1c;

  /* Contrast colors */
  --contrast-red: #c50e29;
  --contrast-red-25: #c50e2940;

  /* Paddings */
  --main-padding: 3.84rem;
  --primary-padding: 2.4rem;
  --secondary-padding: 1.5rem;
  --third-padding: 1rem;
  --fourth-padding: 0.6rem;
  --fifth-padding: 0.4rem;

  /* Side padding */
  --side-padding: 2.4rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Main Background and Foreground colors */
    --main-bg: #121212;
    --main-fg: #eeeeee;

    /* Additional Background and Foreground colors */
    --additional-bg: #1c1c1c;
    --additional-fg: #fafafa;

    /* Accent colors */
    --accent-red: #ff5131;
    --accent-blue: #768fff;
    --accent-blue-text: #768fff;
    --accent-purple: #9d46ff;

    /* Half colors */
    --main-fg-25: #eeeeee40;
    --accent-red-25: #ff513140;
    --accent-blue-25: #768fff40;
    --accent-purple-25: #9d46ff40;

    /* Additional colors */
    --additional-red-bg: #1c1c1c;
    --additional-green-bg: #1c1c1c;
    --additional-blue-bg: #1c1c1c;
    --additional-yellow-bg: #1c1c1c;
    --additional-red-fg: #ff867f;
    --additional-green-fg: #9fffe0;
    --additional-blue-fg: #83b9ff;
    --additional-yellow-fg: #ffff74;

    /* Contrast colors */
    --contrast-red: #ff616f;
    --contrast-red-25: #ff616f40;
  }
}

@media screen and (min-width: 1300px) {
  header img {
    margin-left: calc(-1 * (1.5rem + 3 * var(--fifth-padding)));
  }
  :root {
    --side-padding: 10%;
  }
}

@media screen and (max-width: 700px) {
  :root {
    --side-padding: 1rem;
  }
}

*::selection {
  color: var(--main-bg);

  background-color: var(--accent-red);
}

html {
  height: 100%;

  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "SF UI Text", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
  margin: 0;

  color: var(--main-fg);

  background-color: var(--main-bg);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: subpixel-antialiased;
}

header,
main,
footer {
  padding-right: var(--side-padding);
  padding-left: var(--side-padding);

  background-color: var(--main-bg);

  > * {
    max-width: 1000px;
  }
}

header {
  padding-top: var(--secondary-padding);

  nav.head__nav {
    position: relative;

    display: inline-block;
    margin-bottom: calc(var(--primary-padding) - var(--fifth-padding));

    a:first-child::before {
      position: absolute;
      top: 0;
      left: calc(-1 * (1.5rem + 2 * var(--fifth-padding) + var(--fourth-padding)));

      width: calc(1.5rem + 2 * var(--fifth-padding));

      margin-top: calc(-0.125rem - var(--fifth-padding));
      height: calc(1.5rem + 2 * var(--fifth-padding));

      content: '';
    }
  }

  img {
    display: inline-block;
    margin-right: var(--fourth-padding);

    vertical-align: top;
    height: calc(1.5rem + 2 * var(--fifth-padding));

    border-radius: 50%;
    margin-top: calc(-0.125rem - var(--fifth-padding));
  }

  a.head__a {
    margin-bottom: var(--fifth-padding);
  }
}

@media screen and (max-width: 700px) {
  header img {
    display: none;
  }
  h1 {
    --header-size: 2.25rem;
  }
}

footer {
  padding-bottom: var(--primary-padding);
}

main hr,
footer hr {
  margin: var(--primary-padding) 0 var(--secondary-padding) 0;
}

main {
  & > section {
    &:last-child ul {
      margin-bottom: 0;
    }
  }
  a:not(.card__link) {
    border-bottom: 1px solid var(--accent-blue-25);

    &:visited {
      color: var(--accent-purple);

      border-bottom: 1px solid var(--accent-purple-25);
    }

    &:hover,
    &:focus {
      color: var(--accent-red);

      border-bottom: 1px solid var(--accent-red-25);
    }
  }
  a.a--secondary {
    margin-bottom: var(--fourth-padding);
    line-height: initial;
  }
}

svg.foot__icon {
  margin-right: var(--fifth-padding);
}

h1, a.main__header--subsection {
  font-weight: 700;
  line-height: 1.15em;
  letter-spacing: -0.022em;
  word-break: break-word;
}

h1 {
  display: block;
  margin: 0 0 var(--third-padding) -2px;

  font-size: var(--header-size, 2.8125rem);

  &.main__header--subsection {
    --header-size: 2.25rem;
  }
}

h2, h3, p, blockquote {
  &:first-child {
    margin-top: 0;
  }
}

h2 {
  margin-top: 3rem;
  margin-bottom: var(--third-padding);
  margin-left: -1px;

  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.15em;
  letter-spacing: -0.022em;

  &.foot__header {
    margin-bottom: var(--fourth-padding);
  }
}

h3 {
  margin-bottom: 0;
}

h3,
p,
ul,
ol {
  font-size: 1rem;
  line-height: 1.5em;
  letter-spacing: -0.011em;
}

p {
  margin-top: var(--third-padding);
  margin-bottom: 0;
}

a {
  color: var(--accent-blue);
  text-decoration: none;

  transition-timing-function: cubic-bezier(0.18, 0.45, 0.35, 0.99);
  transition-duration: 0.38s;
  transition-property: color, border-bottom;

  border-bottom-width: 1px;
  border-bottom-style: solid;

  &:focus {
    outline: none;
  }

  &.main__header--subsection {
    font-size: 2.25rem;
  }

  &.a--primary:hover,
  &.a--secondary:hover,
  &:hover,
  &:focus {
    transition: none;
  }

  &.a--primary,
  &.a--secondary {
    display: inline-block;
    margin-right: var(--third-padding);

    font-weight: 600;



    &:hover, &:focus {
      color: var(--accent-red);
      border-bottom-color: var(--accent-red-25);
    }
  }

  &.a--primary {
    color: var(--main-fg);
    border-bottom-color: var(--main-fg-25);
  }

  &.a--secondary {
    color: var(--accent-blue);

    border-bottom-color: var(--accent-blue-25);

    transition-property: color, border-bottom-color;
  }

  &.a--active {
    color: var(--contrast-red);
    border-bottom: none;

    pointer-events: none;
  }

  &.a--parent-active {
    color: var(--contrast-red);
    border-bottom-color: var(--contrast-red-25);
  }

  &.foot__a {
    margin-top: var(--fifth-padding);
  }
}

ul,
ol {
  box-sizing: border-box;
}

ul,
ol {
  max-width: 700px;
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  padding-left: 0;
  li {
    list-style-type: none;
  }
}

li {
  margin-top: 0.5rem;
  &.li--favourite::before {
    content: "★";
  }
}

hr {
  height: 1px;

  background-color: var(--main-fg);
  border: 0;
  opacity: 0.125;
}

@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(85%);
  }

  p, table, ul, ol, blockquote, figcaption {
    opacity: 0.85;
    * {
      opacity: 1;
    }
    img {
      filter: brightness(100%);
    }
  }
}
