section.main__sect--text h2, section.main__sect--text h3, section.main__sect--text p, section.main__sect--text blockquote {
  max-width: 700px;
}

section.main__sect--text h2 {
  margin-top: 3rem;
}

section.main__sect--text h3 {
  margin-top: 1rem;
}

section.main__sect--text h3 + p:not(:first-child) {
  margin-top: 0;
}

section.main__sect--text p, section.main__sect--text a, section.main__sect--text ul, section.main__sect--text ol, section.main__sect--text code, section.main__sect--text blockquote {
  font-weight: 500;
  line-height: 1.5em;
}

section.main__sect--text p {
  margin-top: 1rem;
}

section.main__sect--text a {
  color: var(--accent-blue);
  font-size: inherit;
  text-decoration: none;

  border-bottom: 1px solid var(--accent-blue-25);
}

section.main__sect--text a:hover, section.main__sect--text a:focus {
  color: var(--accent-red);

  border-bottom: 1px solid var(--accent-red-25);
}

section.main__sect--text a:visited {
  color: var(--accent-purple);

  border-bottom: 1px solid var(--accent-purple-25);
}

section.main__sect--text a:visited:hover, section.main__sect--text a:visited:focus {
  color: var(--accent-red);

  border-bottom: 1px solid var(--accent-red-25);
}

section.main__sect--text ul, section.main__sect--text ol {
  padding-left: var(--primary-padding);
}

section.main__sect--text ul li, section.main__sect--text ol li {
  list-style-position: outside;
}

section.main__sect--text figure a {
  border-bottom: 0;
}

section.main__sect--text blockquote p:first-child, section.main__sect--text hr + * {
  margin-top: 0;
}

section.main__sect--text a.image-link {
  border-bottom: 0;
}

section.main__sect--text p.postlinks {
  font-size: 0.8rem;
}

section.main__sect--text p.postlinks:first-of-type {
  margin-top: 0;
}

section.main__sect--text p.postlinks * {
  margin-right: var(--fourth-padding);
}

section.main__sect--text p.postlinks span.postlinks__span--m015 {
  margin-right: 0.15rem;
}

section.main__sect--text p.postlinks span.postlinks__span--inact {
  opacity: 0.25;
}

section.main__sect--text p.postlinks a.postlinks__a {
  color: inherit;

  border-bottom: 1px solid var(--main-fg-25);
}

section.main__sect--text p.postlinks a.postlinks__a:hover, section.main__sect--text p.postlinks a.postlinks__a:visited:hover, section.main__sect--text p.postlinks a.postlinks__a:focus {
  color: var(--accent-red);

  border-bottom: 1px solid var(--accent-red-25);
}

section.main__sect--text p.postlinks a.postlinks__a:visited {
  color: var(--main-fg);

  border-bottom: 1px solid var(--main-fg-25);
}

section.main__sect--text pre, section.main__sect--text code {
  font-family: "Fira Code", monospace;
  tab-size: 2;
}

section.main__sect--text pre {
  box-sizing: border-box;
  max-width: 700px;
  margin-top: var(--third-padding);
  margin-bottom: 0;
  padding-left: var(--primary-padding);
  overflow-x: auto;
}

section.main__sect--text code {
  font-size: 1em;
}

section.main__sect--text code span {
  font-weight: unset;
}

section.main__sect--text table {
  margin-top: var(--third-padding);

  table-layout: fixed;
  empty-cells: show;
}

section.main__sect--text table th, section.main__sect--text table td {
  padding: 0 var(--third-padding) var(--fifth-padding) 0;

  text-align: left;
  vertical-align: top;
}

section.main__sect--text table th {
  line-height: 1.15em;

  border-bottom: 1px solid var(--main-fg-25);
}

section.main__sect--text figure {
  margin: 1rem 0 0 0;
}

section.main__sect--text figure a {
  display: contents;
}

section.main__sect--text figcaption {
  display: initial;
  margin-top: 0.375rem;
  margin-bottom: 0;

  font-size: 0.75em;
}

nav.foot__nav--share a {
  background: var(--main-bg);
}