section.main__sect--text {
  h2,
  h3,
  p,
  blockquote {
    max-width: 700px;

    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    margin-top: 1rem;

    + p:not(:first-child) {
      margin-top: 0;
    }
  }

  p {
    &:first-child {
      margin-top: 0;
    }
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  ul li,
  ol li {
    list-style-position: outside;
  }

  figure a {
    border-bottom: 0;
  }

  ul,
  ol,
  blockquote,
  pre {
    padding-left: 2rem;
  }

  blockquote {
    box-sizing: border-box;
    margin-top: 1rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  blockquote p:first-child,
  hr + * {
    margin-top: 0;
  }

  pre,
  code {
    font-family: "Fira Code", monospace;
    tab-size: 2;
  }

  pre {
    box-sizing: border-box;
    max-width: 700px;
    margin-top: 1rem;
    margin-bottom: 0;
    overflow-x: auto;
  }

  code {
    font-size: 1em;

    span {
      font-weight: unset;
    }
  }

  table {
    margin-top: 1rem;

    font-size: 1rem;

    table-layout: fixed;
    empty-cells: show;
    border-collapse: collapse;

    th,
    td {
      padding: 0 1rem 0.5rem 0;

      text-align: left;
      vertical-align: top;
    }

    th {
      line-height: 1.15rem;

      border-bottom: 1px solid var(--main-fg-25);
    }

    td {
      line-height: 1.5rem;
    }
  }

  figure {
    margin-top: 1rem;
    margin-right: 0;
    margin-left: 0;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    a {
      display: contents;
    }
  }

  figcaption {
    margin-top: var(--fifth-padding);
    margin-bottom: 0;

    font-size: 0.8rem;
    line-height: 1.5em;
  }

  img {
    height: auto;
  }

  *.large {
    font-size: 2rem;
  }

  section.related {
    margin-top: var(--main-padding);
    section.related-list {
      display: grid;
      grid-gap: var(--third-padding);
      margin-top: 0.5rem;

      @media screen and (min-width: 701px) {
        &:not(.a1):not(.a2):not(.a3) {
          grid-template-columns: repeat(4, 1fr);

          &:not(.i2) {
            article:first-child {
              grid-area: 1/1/3/3;
            }
          }

          &.i2 article {
            &:first-child {
              grid-area: 1/1/4/3;
            }

            &:last-child {
              grid-column-start: 4;
            }
          }

          article:nth-child(2).imaged {
            grid-row: 1 / -1;
          }
        }

        &:not(.a5):not(.a4) {
          grid-template-rows: max-content;
        }
        &.a1,
        &.a2 {
          grid-template-columns: repeat(2, 1fr);
        }

        &.a3 {
          grid-template-columns: 2fr repeat(2, 1fr);
        }

        &.a4.i1 {
          grid-template-rows: auto auto;
        }

        &.a5 {
          grid-template-rows: auto auto 1fr;
          &.i1,
          &.i2 {
            article.imaged:nth-child(2) {
              grid-row-end: 4;
              grid-row-start: 1;
            }
          }
        }
      }

      article {
        &:first-child a {
          font-weight: bold;
          font-size: 1.5rem;
          line-height: 1.25em;
        }
        &:not(:first-child) p.description {
          display: none;
        }
        a {
          font-size: 1rem;
          line-height: 1.5em;
        }
        p.description {
          margin-top: 0.5rem;
        }
        figure {
          margin: 0;
        }
        img {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
