.text {
  h2,
  h3,
  p {
    max-width: 700px;
  }
  h2,
  p {
    width: 100%;
  }
  h2 {
    margin-top: 3rem;
  }
  h3 {
    margin-top: 1rem;
    & + p:not(:first-child) {
      margin-top: 0;
    }
  }
  p,
  a,
  ul,
  ol,
  code,
  blockquote {
    font-weight: 400;
    line-height: 1.5em;
  }
  p,
  a,
  li,
  span,
  blockquote {
    code {
      padding: 0 0.25rem;
      border-radius: 0.25rem;
      color: var(--main-fg);
      background-color: var(--accent-blue-25);
    }
  }
  p {
    margin-top: 1rem;
  }
  a {
    border-bottom: 1px solid var(--accent-blue-25);
    font-size: inherit;
    color: var(--accent-blue);
    text-decoration: none;
    &:hover {
      border-bottom: 1px solid var(--accent-red-25);
      color: var(--accent-red);
    }
    &:visited {
      border-bottom: 1px solid var(--accent-purple-25);
      color: var(--accent-purple);
      &:hover {
        border-bottom: 1px solid var(--accent-red-25);
        color: var(--accent-red);
      }
    }
  }
  img {
    background-color: var(--additional-bg);
  }
  ul,
  ol,
  blockquote {
    max-width: calc(700px - var(--primary-padding));
  }
  ul,
  ol {
    padding-left: var(--primary-padding);
    li {
      list-style-position: outside;
    }
  }
  figure,
  iframe {
    margin: 1rem 0 0 0;
  }
  figcaption {
    margin-top: 0.3rem;
    font-size: 0.8em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  blockquote {
    p:first-child {
      margin-top: 0;
    }
  }
  pre {
    max-width: calc(700px - var(--primary-padding));
    margin-top: var(--third-padding);
    margin-bottom: 0;
    padding: 0 0 0 var(--primary-padding);
  }
  code {
    font-size: 1em;
    span {
      font-weight: unset;
    }
  }
  code,
  pre {
    scrollbar-width: none;
  }
  code::-webkit-scrollbar,
  pre::-webkit-scrollbar {
    height: 0;
  }
  li p {
    margin-top: 0;
  }
  twitter-widget {
    width: 100% !important;
    margin-top: 1rem !important;
  }
  hr + * {
    margin-top: 0;
  }
}
