---
layout: layouts/base.njk
templateClass: tmpl-post
pageClass: post
eleventyNavigation:
  key: Пост
  parent: Блог
---

<link rel="preload" href="/fonts/FiraCode.woff2" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="{{ '/styles/post.css' | url }}">
<link rel="stylesheet" href="{{ '/styles/code.css' | url }}">

<section class="main__sect--text">
  <p class="postlinks">
    <time datetime="{{ page.date | htmlDateString }}" title="{{ page.date | readableDate }}">{{ page.date | shortDate}}</time>
    {%- for tag in tags -%}
      {%- if collections.tagList.indexOf(tag) != -1 -%}
      {%- set tagUrl -%}/blog/tags/{{ tag | slug }}/{%- endset -%}
      <a href="{{ tagUrl | url }}" class="postlinks__a">{{ tag }}</a>
      {%- endif -%}
    {%- endfor -%}
  </p>
  <article>
    {{ content | safe }}
  </article>
  {%- set previousPost = collections.blog | getPreviousCollectionItem(page) -%}
  {%- set nextPost = collections.blog | getNextCollectionItem(page) -%}
  <p class="postlinks">
    {%- if previousPost -%}
      <a class="postlinks__a" href="{{ previousPost.url }}">{{ previousPost.data.title }}</a><span class="postlinks__span postlinks__span--m015">←</span>
    {%- endif -%}
    {%- if nextPost -%}
      <span class="postlinks__span">→</span><a class="postlinks__a" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
    {%- endif -%}
  </p>
</section>
