---
layout: layouts/base.html
templateClass: tmpl-post
pageClass: post
eleventyNavigation:
  key: post
  parent: blog
---

<link
  rel="preload"
  href="/fonts/FiraCode.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link rel="stylesheet" href="{{ '/styles/post.css' | url }}" />
<link rel="stylesheet" href="{{ '/styles/post-inf.css' | url }}" />
<link rel="stylesheet" href="{{ '/styles/code.css' | url }}" />

<h1 class="main__header main__header--{{pageClass}} main__header--subsection">
  {{ title }}
</h1>
<section class="main__sect--text">
  <article>{{ content | safe }}</article>
  {%- set post = page -%} {% include "post-inf.html" %} {%- if related.type !=
  "a0 i0" -%}
  <section class="related">
    <h3>Читайте дальше</h3>
    <section class="related-list {{ related.type }}">
      {%- for i, val in related -%} {%- if i != "type" -%}
      <article
        class="{% if val.image %} imaged {% endif %} rating-{{ val.rating }}"
      >
        <a href="{{ val.url }}"
          >{%- if val.image -%}<img
            src="{{ val.image }}"
            alt="Иллюстрация к заметке"
            class="img--nocaption"
          />{%- endif -%}{{ i }}</a
        >
        {%- if not val.image -%}
        <p class="description">{{ val.description }}</p>
        {%- endif -%}
        <time
          datetime="{{ val.date | htmlDateString }}"
          title="{{ val.date | readableDate }}"
          class="postlinks"
          >{{ val.date | shortDate}}</time
        >
      </article>
      {%- endif -%} {%- endfor -%}
    </section>
  </section>
  {%- endif -%} {%- set previousPost = collections.blog |
  getPreviousCollectionItem(page) -%} {%- set nextPost = collections.blog |
  getNextCollectionItem(page) -%}
  <p class="postlinks">
    {%- if previousPost -%}
    <a class="postlinks__a" href="{{ previousPost.url }}"
      >{{ previousPost.data.title }}</a
    ><span class="postlinks__span postlinks__span--m015">←</span>
    {%- endif -%} {%- if nextPost -%}
    <span class="postlinks__span">→</span
    ><a class="postlinks__a" href="{{ nextPost.url }}"
      >{{ nextPost.data.title }}</a
    >
    {%- endif -%}
  </p>
</section>
