---
layout: layouts/base.njk
templateClass: tmpl-post
pageClass: post
eleventyNavigation:
  key: Проект
  parent: Проекты
---

<link rel="stylesheet" href="{{ '/styles/post.css' | url }}">
<section class="main__sect--text">
  <p class="postlinks">
    <time datetime="{{ page.date | htmlDateString }}" title="{{ post.date | readableDate }}">{{page.date | relativeDate}}</time>
  </p>
  {{ content | safe }}
</section>
