---
layout: layouts/base.html
templateClass: tmpl-post
pageClass: post
eleventyNavigation:
  key: project
  parent: projects
---

<link
  rel="preload"
  href="/fonts/FiraCode.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link rel="stylesheet" href="{{ '/styles/post.css' | url }}" />
<h1 class="main__header main__header--{{pageClass}} main__header--subsection">
  {{ title }}
</h1>
<section class="main__sect--text">
  <article>{{ content | safe }}</article>
  <p class="postlinks">
    <time
      datetime="{{ page.date | htmlDateString }}"
      title="{{ page.date | readableDate }}"
      >{{page.date | shortDate}}</time
    >
  </p>
</section>
