@font-face {
  font-family: 'Georgia';
  font-weight: normal;
  font-style: normal;
  font-named-instance: 'Regular';
  font-display: swap;
  src: url("/fonts/Georgia-Regular.woff2?v=3.5") format("woff2");
}

@font-face {
  font-family: 'Georgia';
  font-weight: normal;
  font-style: italic;
  font-named-instance: 'Italic';
  font-display: swap;
  src: url("/fonts/Georgia-RegularItalic.woff2?v=3.5") format("woff2");
}