@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: normal;
  font-style: normal;
  font-named-instance: 'Regular';
  font-display: swap;
  src: url("/fonts/IBMPlexMono-Regular.woff2") format("woff2");
}