@media (prefers-color-scheme: dark) {
  :root {
    --main-bg: #1c1c1e;
    --main-fg: #f2f2f7;

    --additional-bg: #2c2c2e;
    --additional-fg: #e5e5ea;

    --accent-pink: rgba(255, 55, 95, 0.5);
    --accent-indigo: rgba(94, 92, 230, 0.5);
    --accent-orange: rgba(255, 159, 10, 0.5);
  }
}
