@media (prefers-color-scheme: dark) {
  :root {
    // Main Background and Foreground colors
    --main-bg: #1c1c1c;
    --main-fg: #eeeeee;

    // Additional Background and Foreground colors
    --additional-bg: #121212;
    --additional-fg: #fafafa;

    // Accent colors
    --accent-red: #ff5131;
    --accent-blue: #2962ff;
    --accent-purple: #9d46ff;

    // Additional colors
    --additional-red: #ff867f;
    --additional-green: #9fffe0;
    --additional-blue: #83b9ff;
    --additional-yellow: #ffff74;

    // Contrast colors
    --contrast-blue: #304ffe;
  }
}
