@media (prefers-color-scheme: dark) {
  :root {
    --main-bg: #1c1c1e;
    --main-fg: #f2f2f7;

    --additional-bg: #2c2c2e;
    --additional-fg: #e5e5ea;

    --accent-red: #ff453a;
    --accent-green: #30d158;
    --accent-blue: #0a84ff;
    --accent-yellow: #ffd60a;

    --main-bg-50: rgba(28, 28, 30, 0.5);
    --main-fg-50: rgba(242, 242, 247, 0.5);

    --accent-red-50: rgba(255, 69, 58, 0.5);
    --accent-green-50: rgba(48, 209, 88, 0.5);
    --accent-blue-50: rgba(10, 132, 255, 0.5);
    --accent-yellow-50: rgba(255, 214, 10, 0.5);

    --accent-pink: #ff375f;
    --accent-indigo: #5e5ce6;
    --accent-orange: #ff9f0a;
  }
}
