@media screen and (max-width: 835px) {
  :root {
    --side-padding: 1rem;
  }
  header,
  main,
  footer {
    & > * {
      max-width: 100%;
    }
  }
  header.head,
  footer.foot {
    &--post > * {
      width: 100%;
    }
  }
  header {
    grid-template-columns: 1fr;
    &.head {
      &--portfolio,
      &--blog {
        hr {
          width: 100%;
        }
      }
    }
    nav a {
      letter-spacing: -0.05rem;
    }
  }
  footer {
    section {
      grid-template-columns: unset;
      grid-template-rows: auto auto;
      nav {
        display: block;
        margin-top: var(--third-padding);
        margin-right: 0;
        &.foot__cont {
          display: block;
          &--site-links {
            float: unset;
          }
        }
      }
    }
    &.foot--post section {
      grid-template-columns: unset;
      grid-template-rows: auto auto auto;
    }
  }
  section {
    &.main__arts {
      grid-template-columns: 1fr;
    }
    &.main__art-cont {
      pre {
        width: calc(100vw - 3rem);
      }
    }
  }
  h1,
  h2,
  h3 {
    letter-spacing: -0.019em;
  }
  h4,
  p,
  a,
  ul,
  ol,
  blockquote {
    letter-spacing: -0.011em;
  }
}
