@media screen and (max-width: 835px) {
  :root {
    --first-padding: 2.4rem;
    --second-padding: 1.5rem;
    --third-padding: 1rem;
  }
  html {
    font-size: 16px;
  }
  header {
    grid-template: 'links' auto 'heading' auto 'hr' auto/1fr;
    nav a {
      letter-spacing: -0.05rem;
    }
    button {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
  main {
    &.post {
      grid-template: 'text' auto 'empty' auto/1fr;
    }
    &.portfolio {
      grid-template: 'section' auto / 1fr;
      section.content {
        grid-template: 'sub-heading' auto 'text' auto/1fr;
      }
    }
  }
  footer {
    grid-template: 'heading' auto 'links-container' auto/1fr;
    section.links-container {
      grid-template: 'paragraph' auto 'links' auto 'social' auto/1fr;
    }
  }
  section {
    &.articles {
      grid-template-columns: 1fr;
    }
    &.text {
      p, a, ul, ol, blockquote {
        letter-spacing: -0.011em;
      }
      pre {
        width: calc(100vw - 6rem);
      }
    }
  }
  article {
    &.page {
      width: auto;
    }
    &.empty {
      display: none;
    }
  }
  h2 {
    width: auto;
    margin-bottom: 1rem;
  }
}