@media screen and (max-width: 835px) {
  :root {
    --first-padding: 3rem;
    --second-padding: 1.5rem;
    --third-padding: 0.75rem;
  }
  header.head,
  footer.foot {
    &--post > * {
      width: 100%;
    }
  }
  header {
    grid-template-columns: 1fr;
    &.head {
      &--portfolio,
      &--blog {
        hr {
          width: 100%;
        }
      }
    }
    nav a {
      letter-spacing: -0.05rem;
    }
  }
  main {
    &.main--post {
      grid-template: "text" auto "empty" auto/1fr;
      section.main__art-cont {
        width: 100%;
      }
    }
    &.main--portfolio {
      grid-template: "section" auto / 1fr;
      section.main__content {
        grid-template-columns: 1fr;
      }
    }
  }
  footer {
    &.foot--portfolio,
    &.foot--blog {
      display: block;
    }
    section {
      &.foot__share,
      &.foot__cont {
        display: block;
        nav:nth-of-type(2) {
          margin-top: 0.25rem;
        }
      }
    }
  }
  section {
    &.main__arts {
      grid-template-columns: 1fr;
    }
    &.main__art-cont {
      pre {
        width: calc(100vw - 3rem);
      }
    }
  }
  h1,
  h2,
  h3 {
    letter-spacing: -0.019em;
  }
  h4,
  p,
  a,
  ul,
  ol,
  blockquote {
    letter-spacing: -0.011em;
  }
}
