<!doctype html>
<html lang="en">
  <head>

    <!-- AMP -->
    <link rel="amphtml" href="{{ page.id | prepend: '/amp' | prepend: site.baseurl | prepend: site.url | append: '.html' }}">

    <!-- HTML Meta Tags -->
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#3742FA">

    <!-- SEO Tags and RSS support -->
    {% feed_meta %}
    {% seo %}

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta itemprop="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta itemprop="image" content="https://dtroode.netlify.com{{ page.thumbnail }}">

    <!-- Facebook Meta Tags -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:url" content="https://dtroode.netlify.com{{ page.url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:image" content="https://dtroode.netlify.com{{ page.thumbnail }}">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:image" content="https://dtroode.netlify.com{{ page.thumbnail }}">

    <!-- Scripts -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/lazyload.js"></script>

    <!-- Links -->
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/dracula.min.css">
    {% include links.html %}

  </head>
  <body>
    <header class="post">
      <h1>{{ page.title }}</h1>
      <nav>
        <a href="/">Blog</a>
        <a href="/portfolio/">Portfolio</a>
        <br>
        <a href="/tags/{{ page.categories }}" class="tagname" id="{{ page.categories }}">{{ page.categories }}</a>
      </nav>
      <hr>
      <section class="date-author">
        <p>{{ page.date | date_to_string }} • David Kistauri</p>
      </section>
    </header>
    <main class="post">
      <section class="text">
        {{ content }}
      </section>
    </main>
    {% include footer.html %}
  </body>
</html>