<!doctype html>
<html>
  <head>
    <!-- HTML Meta Tags -->
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ post.excerpt }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO Tags and RSS support -->
    {% feed_meta %}
    {% seo %}

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta itemprop="description" content="{{ post.excerpt }}">
    <meta itemprop="image" content="{{ site.url }}{{ page.thumbnail }}">

    <!-- Facebook Meta Tags -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="{{ post.excerpt }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:image" content="{{ site.url }}{{ page.thumbnail }}">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{{ post.excerpt }}">
    <meta name="twitter:image" content="{{ site.url }}{{ page.thumbnail }}">

    {% include links.html %}

  </head>
  <body>
    <header>
      <section class="post">
        <article class="heading">
          <h1 class="text-header">{{ page.title }}</h1>
        </article>
        <article class="content">
          <picture class="image">
            <source media="(prefers-color-scheme: dark)" srcset="/assets/img/avatar-dark.png">
              <img src="/assets/img/avatar-light.png" alt="">
          </picture>
        </article>
        <article class="links">
          <article class="links-content">
            <a href="/">Blog</a>
            <a href="/portfolio/">Portfolio</a>
            <hr>
          </article>
        </article>
        <article class="date">
          <p class="date-text">{{ page.date | date_to_string }}</p>
        </article>
      </section>
    </header>
    <section class="post">
      <article class="text">
        {{ content }}
      </article>
      <article class="empty"></article>
    </section>
    <footer>
      <section class="portfolio">
        <article class="heading">
          <h2>About contacts</h2>
        </article>
        <article class="content contacts">
          <p class="contacts-text"><a href="/">Blog</a></p>
          <p class="contacts-text"><a href="/portfolio">Portfolio</a></p>
          <p class="contacts-text"><a href="https://github.com/dtroode">Github</a></p>
          <p class="contacts-text"><a href="https://twitter.com/dtroode">Twitter</a></p>
          <p class="contacts-text"><a href="https://instagram.com/dtroode">Instagram</a></p>
          <p class="contacts-text"><a href="https://t.me/dtroode">Telegram</a></p>
          <p class="contacts-text"><a href="https://t.me/publichnii">Telegram channel</a></p>
        </article>
      </section>
    </footer>
  </body>
</html>