<!doctype html>
<html>
  <head>
    <!-- HTML Meta Tags -->
    <title>{{ page.title }}</title>
    <meta name="description" content="David Kistauri. Frontend developer, web designer, SMM specialist">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO Tags and RSS support -->
    {% feed_meta %}
    {% seo %}

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="David Kistauri">
    <meta itemprop="description" content="David Kistauri. Frontend developer, web designer, SMM specialist">
    <meta itemprop="image" content="http://aboutdavid.tk/assets/img/preview.jpg">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://aboutdavid.tk">
    <meta property="og:type" content="website">
    <meta property="og:title" content="David Kistauri">
    <meta property="og:description" content="David Kistauri. Frontend developer, web designer, SMM specialist">
    <meta property="og:image" content="http://aboutdavid.tk/assets/img/preview.jpg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="David Kistauri">
    <meta name="twitter:description" content="David Kistauri. Frontend developer, web designer, SMM specialist">
    <meta name="twitter:image" content="http://aboutdavid.tk/assets/img/preview.jpg">

    {% include links.html %}

  </head>
  <body>
    {{ content }}
  </body>
</html>