<!doctype html>
<html lang="en">
  <head>
      
    <!-- Google Verification -->
    <meta name="google-site-verification" content="VoK2q3VroEahQph7ziCc0_ADrkMii1Rsq_wtw1KCsp8" />

    <!-- HTML Meta Tags -->
    <meta name="description" content="David Kistauri. Frontend developer, web designer, SMM specialist">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#3742FA">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="David Kistauri">
    <meta itemprop="description" content="David Kistauri. Frontend developer, web designer, SMM specialist">
    <meta itemprop="image" content="https://dtroode.netlify.com/assets/img/preview.jpg">

    <!-- Facebook Meta Tags -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://dtroode.netlify.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="David Kistauri">
    <meta property="og:description" content="David Kistauri. Frontend developer, web designer, SMM specialist">
    <meta property="og:image" content="https://dtroode.netlify.com/assets/img/preview.jpg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="David Kistauri">
    <meta name="twitter:description" content="David Kistauri. Frontend developer, web designer, SMM specialist">
    <meta name="twitter:image" content="https://dtroode.netlify.com/assets/img/preview.jpg">
    
    <!-- Scripts -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/lazyload.js"></script>

    <!-- Prerender -->
    {% for post in site.posts limit:5 %}
    <link rel="prerender" href="{{ post.url }}">
    {% endfor %}

    <!-- Links to files -->
    <link rel="manifest" href="/manifest.json">
    {% include links.html %}

  </head>
    {{ content }}
</html>