---
layout: default
---
<body>
  <header class="tag">
    <h1>{{ page.title }}</h1>
    <nav>
      <a href="/">Blog</a>
      <a href="/portfolio/">Portfolio</a>
    </nav>
    <hr>
  </header>
  <main class="tag">
    <section class="articles">
      {% assign filtered_posts = site.posts | where: 'categories', page.short_name %}
      {% for post in filtered_posts %}
        <article class="page tag-page">
          <a href="{{ post.url }}" class="page-link">
            <section class="page-content">
              <h2>{{ post.title }}</h2>
            </section>
          </a>
        </article>
      {% endfor %}
    </section>
  </main>
  {% include footer.html %}
</body>