---
layout: default
---
<body>
  <header class="tag">
    <h1>{{ page.title }}</h1>
    <picture>
      <source media="(prefers-color-scheme: dark)" srcset="/assets/img/avatar-dark.png">
      <img src="/assets/img/avatar-light.png" alt="logo">
    </picture>
    <section class="links">
      <nav>
        <a href="/">Blog</a>
        <a href="/portfolio/">Portfolio</a>
        <hr>
      </nav>
    </section>
  </header>
  <main class="tag">
    <section class="articles">
      {% assign filtered_posts = site.posts | where: 'categories', page.short_name %}
      {% for post in filtered_posts %}
        <article class="page">
          <a href="/tags/{{ post.url }}" class="page-link">
            <img src="{{ post.thumbnail }}" alt="" class="page-background">
            <section class="page-content">
              <h2>{{ post.title }}</h2>
              {{ post.excerpt }}
            </section>
          </a>
        </article>
      {% endfor %}
    </section>
  </main>
  {% include footer.html %}
  <script src="/assets/js/articleHeight.js"></script>
</body>