---
layout: layouts/home.njk
title: Блог
pageTitle: Блог Давида Кистаури
description: Блог Давида Кистаури. Назови любое слово и я сделаю о нем сайт.
pageClass: blog
eleventyNavigation:
  key: Блог
  order: 4
---

{% set postslist = collections.blog | head(-15) %}
{% include "posts-list.njk" %}
<a href="/blog/all" class="a--secondary">Все заметки</a>
