---
layout: layouts/home.njk
pagination:
  data: collections.blog
  reverse: true
  size: 10
title: Блог
pageTitle: Блог Давида Кистаури
description: Блог Давида Кистаури. Назови любое слово и я сделаю о нем сайт.
pageClass: blog
permalink: "blog/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
eleventyNavigation:
  key: blog
  title: Блог
  order: 4
---

{% set postslist = pagination.items | reverse %}
<h1 class="main__header main__header--{{pageClass}}">{{ title }}</h1>
{% include "posts-list.njk" %}
{%- if pagination.page.previous -%}
<a href="{{ pagination.href.previous }}" class="a--secondary">Позднее</a>
{%- endif -%}
{%- if pagination.page.next -%}
<a href="{{ pagination.href.next }}" class="a--secondary">Ранее</a>
{%- endif -%}
<a href="/blog/all" class="a--secondary">Все заметки</a>