---
layout: layouts/home.njk
title: Давид Кистаури. Разработчик
pageTitle: Давид Кистаури
pageClass: portfolio
eleventyNavigation:
  key: kistauri
  title: Кистаури
  order: 1
---

<link rel="stylesheet" href="{{ '/styles/portfolio.css' | url }}">

<h1 class="main__header main__header--{{pageClass}}">{{ title }}</h1>
<section>
  <h2>Портфолио</h2>
  <ul>
    <li>
      <a href="https://postvel.now.sh/">Пост Величины</a>
      <br>
      <ul>
        <li>Октябрь 2018, декабрь 2019</li>
        <li>Собрал материал, создал дизайн, написал сайт</li>
        <li>Научный проект про математику, физику и химию — самый удобный и красивый сайт с таблицами постоянных величин, чтоб подсмотреть всё в одном месте. Когда стиль ворвался в науку</li>
      </ul>
    </li>
    <li>
      <a href="https://masterbuket.now.sh/">Мастер Букет</a>
      <br>
      <ul>
        <li>Август 2018, апрель 2020</li>
        <li>Создал дизайн сайта, написал код, отредактировал текст, создал аккаунты в социальных сетях и стиль для публикаций в интернете и бренда в оффлайн магазинах</li>
        <li>Позже провел редизайн и полную пересборку сайта</li>
      </ul>
    </li>
    <li>
      <a href="https://secondschool.now.sh/">Сайт школы им. А. С. Пушкина</a>
      <br>
      <ul>
        <li>Март 2018, август 2019</li>
        <li>Провёл редизайн сайта школы, написал код, собрал материал, отредактировал текст</li>
        <li>Информация о школе, ее истории и вкладе в культуру. Адрес и контакты на виду и выделены крупным шрифтом. При первом взгляде понятен статус школы и ее местоположение — этого достаточно, чтоб определиться с выбором школы для ребенка</li>
      </ul>
    </li>
    <li>
      <a href="https://cyxym.now.sh/">Сайт города Сухум</a>
      <br>
      <ul>
        <li>Апрель 2018, август 2019</li>
        <li>Руководил проектом, собрал материал, создал дизайн, написал код, отредактировал текст</li>
        <li>Сайт про Сухум, который приятно читать: нет никакой лишней информации, только текст и картинки. История города и его значение в истории страны, интересные места и рассказ о местной культуре</li>
      </ul>
    </li>
    <li>
      Также этот сайт с блогом, <a href="https://sukhum-road.now.sh/">сайт</a> со списком маршруток Сухума с характеристикой, высокие рейтинги в Лайтхаусе на всех сайтах
    </li>
  </ul>
  <h2>Веду блог</h2>
  <ul>{% for theme, content in theme_notes %}
    <li>
      <strong>{{ content.title }}</strong>
      <ul>
        {% for item in content.items %}
          <li><a href="{{ item.link }}">{{ item.name }}</a></li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}</ul>
</section>
