---
layout: layouts/home.njk
title: Давид Кистаури. Разработчик и веб-дизайнер
pageClass: portfolio
eleventyNavigation:
  key: ">_<"
  order: 1
---

<link rel="stylesheet" href="{{ '/styles/portfolio.css' | url }}">

<section>
  <h2>Работаю</h2>
  <ol reversed>
    {% for project, information in projects %}
      <li>
        <a href="{{ information.link }}"><strong>{{ information.title }}</strong></a> — {{ information.year }}
        <br>
        <ul>
          {% for review in information.description %}
            <li>{{ review }}</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ol>
</section>
<hr>
<section>
  <h2>Веду блог</h2>
  <p>{% for theme, content in theme_posts %}
    <h3>{{ content.title }}</h3>
    <ul>
      {% for item in content.items %}
        <li><a href="{{ item.link }}">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}</p>
</section>
<hr>
<section>
  <h2>Еще</h2>
  <ul>
    <li>HTML, CSS, JavaScript, Pug, SASS, SugarSS, React, Gatsby, GraphQL, Git</li>
    <li>Учу: Svelte, Sapper, NextJS, а еще математику. По дороге куда-нибудь <a href="/reading">читаю</a> книги</li>
    <li>В свободное время забываю про веб и учу компьютерные науки и Python</li>
    <li>Когда нахожу что-нибудь интересное, пишу в <a href="https://t.me/s/dtroode_channel">телеграм канал</a></li>
  </ul>
</section>
