---
layout: layouts/home.njk
title: Давид Кистаури. Разработчик и веб-дизайнер
pageClass: portfolio
eleventyNavigation:
  key: ">_<"
  order: 1
---

<link rel="stylesheet" href="{{ '/styles/portfolio.css' | url }}">

<section>
  <h2>Работаю</h2>
  <ol reversed>
    <li>
      <a href="#"><strong>Маршрутки Сухума</strong></a> — 2020
      <br>
      <ul>
        <li>Это минималистичный сайт-список маршруток Сухума с характеристикой. Указаны номера, а список делится на модели. У самых лучших — звездочки.</li>
        <li>Цель: собрать все машрутки с характеристикой, чтоб описать транспортную систему города и анализировать список</li>
        <li>Целевая аудитория: кто угодно в городе: мальчики, девочки, парни, девушки, дедушки, бабушки</li>
        <li>Как контент-менеджер: собирал несколько месяцев контент и структуризировал, продолжаю наполнять</li>
        <li>Как разработчик: перевел таблицу из JSON в контент на сайте</li>
        <li>Как дизайнер: придумал дизайн</li>
      </ul>
    </li>
    <li>
      <a href="/blog"><strong>Блог</strong></a>
      — 2019
      <ul>
        <li>Сделал себе сайт портфолио-блог</li>
        <li>Цель: создание портфолио с информацией о себе и работах + блог, который выглядит как портфолио</li>
        <li>Причина: привлечение читателей для разделения опыта и знакомства с другими разработчиками</li>
        <li>Целевая аудитория: разработчики, дизайнеры, люди связанные со сферой технологий</li>
        <li>Как никто: сделал себе блог: задизайнил, написал, продолжаю писать</li>
      </ul>
    </li>
    <li>
      <a href="/projects/postvel-website"><strong>Сайт Пост Величины</strong></a>
      — 2018
      <ul>
        <li>Пост Величины — сайт с таблицами основных математических, физических и химических значений и преобразований. Одно место, чтоб проверить все сразу, на уроке, лекции, работе или посреди ночи, когда появилась идея.</li>
        <li>Цель: самообучение, создание страницы с доступной и красивой основной информацией</li>
        <li>Целевая аудитория: школьники и студенты, которым надо быстро подсмотреть значения или подготовиться к контрольной работе</li>
        <li>Как руководитель: придумал проект, спланировал проект</li>
        <li>Как разработчик: написал все страницы сайта, выложил сайт на хостинг, администрирую сайт</li>
        <li>Как дизайнер: придумал дизайн, придумал редизайн</li>
        <li>Как редактор: написал текст</li>
      </ul>
    </li>
    <li>
      <a href="/projects/masterbuket"><strong>Мастер Букет</strong></a>
      — 2018
      <ul>
        <li>Сделал сайт и брендинг цветочной студии Мастер Букет</li>
        <li>Цель: привлечение клиентов через социальные сети, создание каталога с букетами и информацией о студии</li>
        <li>Как руководитель: спланировал проект</li>
        <li>Как разработчик: написал все страницы сайта, выложил сайт на хостинг, администрирую сайт</li>
        <li>Как дизайнер: придумал дизайн бренда, придумал дизайн сайта, придумал <a href="https://davidkistauri.ru/blog/masterbuket-2/">редизайн</a> сайта</li>
        <li>Как редактор: написал текст, занимался соц. сетями</li>
      </ul>
    </li>
    <li>
      <a href="/projects/secondschool-website"><strong>Сайт школы им. А. С. Пушкина</strong></a>
      — 2018
      <ul>
        <li>Сделал редизайн сайта школы с нуля по информации со старого сайта</li>
        <li>Цель: создание красивого сайта, который сочетается с внешним видом школы, презентует школу, который выглядит лучше, чем у конкурентов</li>
        <li>Целевая аудитория: ученики, которые хотят найти информацию о школе: расписание, билеты, история, родители, которые хотят выбрать школу для ребенка</li>
        <li>Как руководитель: придумал проект, спланировал проект, собрал весь материал</li>
        <li>Как разработчик: написал все страницы сайта, выложил сайт на хостинг, администрировал сайт</li>
        <li>Как дизайнер: придумал редизайн</li>
        <li>Как редактор: отредактировал текст об истории, написал остальной текст</li>
      </ul>
    </li>
    <li>
      <a href="/projects/cyxym-website"><strong>Сайт города Сухум</strong></a>
      — 2018
      <ul>
        <li>Сделал сайт города Сухум: собрал контент, придумал дизайн, написал код</li>
        <li>Цель: создание простого, быстрого и минималистичного сайта, где главное — контент. Привлечение туристов и рассказ им об истории, местах и культуре города</li>
        <li>Целевая аудитория: туристы, которые не знают, куда сперва пойти, где поесть, где насладиться красотой, с кем познакомиться</li>
        <li>Как руководитель: придумал проект, спланировал проект, руководил командой, собрал материал</li>
        <li>Как разработчик: написал все страницы сайта, выложил сайт на хостинг, администрировал сайт</li>
        <li>Как дизайнер: придумал дизайн</li>
        <li>Как редактор: написал текст к разделам о местах и культуре, отредактировал текст об истории</li>
      </ul>
    </li>
  </ol>
</section>
<hr>
<section>
  <h2>Веду блог</h2>
  <h3>Программирование</h3>
  <ul>
    <li><a href="/blog/auto-dark-mode/">Автоматическая темная тема для сайта</a></li>
    <li><a href="/blog/overcode/">Слишком-код</a></li>
  </ul>
  <h3>Математика</h3>
  <ul>
    <li><a href="/blog/obeshal/">Обещание математической логики</a></li>
    <li><a href="/blog/math-conditions/">Необходимые и достаточные условия</a></li>
  </ul>
  <h3>Дизайн</h3>
  <ul>
    <li><a href="/blog/design-mockups/">Дизайн на рендерах и в жизни</a></li>
    <li><a href="/blog/horizon/">Забудьте про гамбургер: горизонтальный скроллинг</a></li>
    <li><a href="/blog/ya-u-mamy-designer/">Дизайнерские штуки и логика на моем сайте</a></li>
  </ul>
  <h3>Остальное</h3>
  <ul>
    <li><a href="/blog/math-conditions/">Необходимые и достаточные условия</a></li>
    <li><a href="/blog/read-2019-11/">Читаю сейчас</a></li>
    <li><a href="https://news.ycombinator.com/item?id=20254420">«Why you need to give Firefox a chance»</a> — <i>Hackernews</i></li>
  </ul>
</section>
<hr>
<section>
  <h2>Еще</h2>
  <ul>
    <li>HTML, CSS, JavaScript, Pug, SASS, SugarSS, React, Gatsby, GraphQL, Git.</li>
    <li>Учу: Svelte, Sapper, NextJS, а еще математику. По дороге куда-нибудь <a href="/reading">читаю</a> книги.</li>
    <li>В свободное время забываю про веб и учу компьютерные науки и Python.</li>
    <li>Когда нахожу что-нибудь интересное, пишу в <a href="https://t.me/s/dtroode_channel">телеграм канал</a></li>
  </ul>
</section>
