---
layout: layouts/home.njk
title: Проекты
pageTitle: Проекты Давида Кистаури
description: Проекты Давида Кистаури. Назови любое слово и я сделаю о нем сайт.
pageClass: projects
eleventyNavigation:
  key: Проекты
  order: 2
---

{% set postslist = collections.projects %}
{% set postslistCounter = collections.projects | length %}
{% include "posts-list.njk" %}
