---
layout: layouts/home.njk
title: Давид Кистаури. Проекты
description: Проекты Давида Кистаури.
pageClass: projects
eleventyNavigation:
  key: Проекты
  order: 2
---

{% set postslist = collections.projects %}
{% set postslistCounter = collections.projects | length %}
{% include "postslist.njk" %}
