---
layout: layouts/home.njk
title: Давид Кистаури. Читаю
pageClass: portfolio
eleventyNavigation:
  key: Книги
  order: 3
---

<section>
  <p>Читаю книги — чаще нон-фикшн — и пишу короткие обзоры в телеграм.
    <br />
    <em>Обновлено 1 мая 2020.</em>
  </p>
  <h3>2020</h3>
  <ul>
    <li class="li--favourite"><a href="https://t.me/dtroode_channel/599">The Seasoned Schemer</a> — <em>Дэниэл Фридман</em></li>
    <li class="li--favourite"><a href="https://t.me/dtroode_channel/594">The Little Schemer</a> — <em>Дэниэл Фридман</em></li>
    <li class="li--favourite"><a href="https://t.me/dtroode_channel/586">Код: тайный язык информатики</a> — <em>Чарльз Петцольд</em></li>
    <li><a href="https://t.me/dtroode_channel/556">Удовольствие от x</a> — <em>Стивен Строгац</em></li>
    <li class="li--favourite"><a href="https://t.me/dtroode_channel/533">Rework. Бизнес без предрассудков</a> — <em>Джейсон Фрид</em></li>
    <li class="li--favourite"><a href="https://t.me/dtroode_channel/516">Как устроена экономика</a> — <em>Ха-Джун Чанг</em></li>
  </ul>
  <h3>2019</h3>
  <ul>
    <li><a href="https://t.me/dtroode_channel/475">Чистая архитектура</a> — <em>Роберт Мартин</em></li>
    <li><a href="https://t.me/dtroode_channel/462">Укус Питона</a> — <em>К. Сваруп</em></li>
    <li class="li--favourite"><a href="https://t.me/dtroode_channel/524">Грокаем алгоритмы</a> — <em>Адитья Бхаргава</em></li>
  </ul>
  <h3>2018</h3>
  <ul>
    <li class="li--favourite">Белый клык — <em>Джек Лондон</em></li>
    <li class="li--favourite">Призрак в сети. Мемуары величайшего хакера — <em>Кевин Митник</em></li>
    <li>Номер 1 — <em>Игорь Манн</em></li>
    <li>Поп-арт маркетинг — <em>Лилия Нилова</em></li>
    <li class="li--favourite">Первому игроку приготовиться — <em>Эрнест Клайн</em></li>
    <li>Школа бизнеса — <em>Роберт Кийосаки</em></li>
    <li>Проактивное мышление — <em>Джон Миллер</em></li>
    <li class="li--favourite">Когда дыхание растворяется в воздухе — <em>Пол Каланити</em></li>
    <li>Психология вредных привычек — <em>Ричард О’Коннор</em></li>
    <li class="li--favourite">Сделано в Америке — <em>Сэм Уолтон</em></li>
    <li>Сила воли — <em>Келли Макгонигал</em></li>
    <li>Minne, или Память по-шведски — <em>Идриз Зогай</em></li>
    <li>Ценные решения — <em>Роман Тарасенко</em></li>
    <li>Кроссфит мозга — <em>Игорь Намаконов</em></li>
    <li>90 дней — <em>Игорь Манн</em></li>
    <li>Новый год прокрастинатора — <em>Эс Джей Скотт</em></li>
  </ul>
  <h3>2017</h3>
  <ul>
    <li class="li--favourite">Заправляй кровать — <em>Уильям Макрейвен</em></li>
    <li class="li--favourite">Как разговаривать с кем угодно, когда угодно, где угодно —
      <em>Ларри Кинг</em></li>
    <li>Жизнь по помидору — <em>Кэтрин Грейс</em></li>
    <li>Почему никто не рассказал мне это в 20 — <em>Тина Силиг</em></li>
    <li class="li--favourite">Информационный удар — <em>Гарри Вайнерчук</em></li>
    <li class="li--favourite">Точки контакта — <em>Игорь Манн</em></li>
    <li>Квадрант денежного потока — <em>Роберт Кийосаки</em></li>
    <li class="li--favourite">Богатый папа, бедный папа — <em>Роберт Кийосаки</em></li>
  </ul>
</section>
