---
permalink: /blog/tags/
layout: layouts/home.njk
title: Теги
description: Блог Давида Кистаури. Теги.
eleventyNavigation:
  key: tags
  parent: blog
---

{%- set test1 = r/1$/ -%}
{%- set test11 = r/[1][1]$/ -%}
{%- set test234 = r/(2|3|4)$/ -%}
{%- set test121314 = r/([1][2]|[1][3]|[1][4])$/ -%}

<link rel="stylesheet" href="{{ '/styles/tags.css' | url }}">
<h1 class="main__header main__header--{{pageClass}} main__header--subsection">{{ title }}</h1>
<section>
  <p class="main__container">
    {%- for tag in collections.tagList | sort(false, true, tag) -%}
      {%- set tagURL -%}/blog/tags/{{ tag | slug }}/{%- endset -%}
      <a href="{{ tagURL | url }}" class="a--secondary">
        {{ tag }} {{ collections[ tag ] | length }}
      </a>
    {%- endfor -%}
  </p>
</section>

