/* Additional fonts */
@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'case' 1, 'frac' 1;
}
@supports (font-variation-settings: normal) {
  htmlfont-family: 'Inter var', sans-serif;
    font-display: block;
  }
}

/* Selection */
*::selection {
  background-color: var(--accent-red);
  color: var(--main-dark);
}
*::-moz-selection {
  background-color: var(--accent-red);
  color: var(--main-dark);
}

/* Main style settings */
body {
  margin: 0;
  background-color: var(--main-light);
  color: var(--main-dark);
}
body.portfolio::before {
  content: '';
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url('/images/bg.jpg');
  background-size: cover;
  background-position: left center;
  background-attachment: fixed;
  opacity: 0.75;
}
footer {
  margin-top: 4.375rem;
  padding-bottom: 4.375rem;
  background-color: var(--additional-light);
  color: var(--additional-dark);
}
footer hr {
  border-top: 2px solid var(--additional-dark);
  border-bottom: 2px solid var(--additional-dark);
  background-color: var(--additional-dark);
}
section {
  display: grid;
  padding: 2.5rem 4.375rem 0 4.375rem;
}
section.portfolio {
  grid-template:
    'heading text'
    / 1fr 1fr;
}
section.blog {
  grid-template:
    'articles news'
    / 1fr 1fr;
}
section.news, section.articles {
  padding: 0;
}
section.news {
  display: grid;
  grid-template:
    'heading' auto
    'news' 1fr
    'empty' 1fr
    / 1fr;
  grid-area: news;
}
section.news hr {
  display: none;
}
section.articles {
  grid-area: articles;
}
article.works p:not(:first-child), article.news p:not(:first-child) {
  margin-top: 1rem;
}
article.news p:first-child, article.page-content p {
  margin-top: 1.25rem;
}
article.page, button {
  transition: all cubic-bezier(0.15, 0.54, 0.35, 0.99) 0.5s;
}
article.page {
  position: relative;
  width: 75%;
  padding: 1.25rem 1.25rem 0 0;
  background-color: var(--accent-red);
}
article.page:hover, button:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
article.page:not(:first-child) {
  margin-top: 2.5rem;
}
article.page-content {
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
}
aside {
  background-color: var(--additional-light);
}
aside a {
  text-decoration: none;
  font-style: normal;
}
aside a::after {
  content: '';
}
aside a:hover::after {
  content: '';
}
h1, h2, p {
  margin: 0;
}
h1, h2 {
  font-weight: 700;
}
h2, p { 
  width: 75%;
}
h1 {
  display: block;
  font-size: 5rem;
  line-height: 4rem;
  letter-spacing: -0.2rem;
  width: 75%;
}
h1 span {
  color: var(--accent-red);
}
h2 {
  font-size: 3.125rem;
  line-height: 3.125rem;
  word-spacing: -0.1rem;
  letter-spacing: -0.1rem;
}
p {
  font-weight: 600;
  font-size: 1.22rem;
  line-height: 1.4rem;
}
a {
  font-weight: inherit;
  font-size: inherit;
  font-style: italic;
  flex: inherit;
  color: inherit;
}
a:after {
  content: '⟶';
  text-decoration: none;
}
a:hover {
  color: var(--accent-blue);
}
a:hover:after {
  content: '⟵';
}
span {
  font-feature-settings: 'ss01' 1;
  font-weight: 700;
}
span.link-span {
  font-style: italic;
}
picture.image, picture.image img {
  display: block;
  width: 8rem;
  height: 8rem;
  background-size: contain;
}
button {
  width: 200px;
  height: 100px;
  border: none;
  background-color: var(--accent-red);
  cursor: pointer;
}
hr {
  width: 100%;
  margin: 4.375rem 0 0 0;
  border-top: 2px solid var(--main-dark);
  border-right: none;
  border-bottom: 2px solid var(--main-dark);
  border-left: none;
  background-color: var(--main-dark);
}

/* Mobile style settings */
@media screen and (max-width: 950px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 750px) {
  section {
    padding: 2.5rem 2.5rem 0 2.5rem;
  }
  section.portfolio {
    grid-template:
    'heading' auto
    'text' auto
    / auto;
  }
  section.blog {
    grid-template:
      'news' auto
      'articles' auto
      / 1fr;
  }
  section.news {
    grid-template:
      'heading' auto
      'news' auto
      / 1fr;
  }
  section.news hr {
    display: block;
  }
  section.articles {
    padding-top: 2.5rem;
  }
  article.page {
    width: auto;
  }
  article.empty {
    display: none;
  }
  h2 {
    width: auto;
    margin-bottom: 1.2rem;
  }
  p {
    width: auto;
    font-size: 1.83rem;
    line-height: 2.1rem;
  }
  picture.image {
    margin-top: 2.5rem;
  }
}

/* Dark color theme style settings */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--main-dark);
    color: var(--main-light);
  }
  body.portfolio::before {
    opacity: 0.25;
  }
  footer {
    background-color: var(--additional-dark);
    color: var(--additional-light);
  }
  footer hr {
    border-top: 2px solid var(--additional-light);
    border-bottom: 2px solid var(--additional-light);
    background-color: var(--additional-light);
  }
  hr {
    border-top: 2px solid var(--main-light);
    border-bottom: 2px solid var(--main-light);
    background-color: var(--main-light);
  }
}