/* Additional fonts */
@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'case' 1;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

/* Main style settings */
body {
  margin: 0;
}
body.portfolio {
  background-image: url('/images/bg.jpg');
  background-size: cover;
  background-position: left center;
  background-attachment: fixed;
}
footer {
  margin-top: 4.375rem;
  padding-bottom: 4.375rem;
  background-color: #1f1f1f;
  color: #FFFFFF;
}
footer hr {
  border-top: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  background-color: #FFFFFf;
}
section {
  display: grid;
  padding: 2.5rem 4.375rem 0 4.375rem;
}
section.portfolio {
  grid-template:
    'heading text'
    / 1fr 1fr;
}
section.blog {
  grid-template:
    'articles news'
    / 1fr 1fr;
}
section.news, section.articles {
  padding: 0;
}
section.news {
  display: grid;
  grid-template:
    'heading' auto
    'news' 1fr
    'empty' 1fr
    / 1fr;
  grid-area: news;
}
section.news hr {
  display: none;
}
section.articles {
  grid-area: articles;
}
article.works p:not(:first-child), article.news p:not(:first-child) {
  margin-top: 1rem;
}
article.news p:first-child, article.page-content p {
  margin-top: 1.25rem;
}
article.page {
  transition: all cubic-bezier(0.15, 0.54, 0.35, 0.99) 0.5s;
  position: relative;
  width: 75%;
  padding: 1.25rem 1.25rem 0 0;
  background-color: #ED1D1B;
}
article.page:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2)
}
article.page:not(:first-child) {
  margin-top: 2.5rem;
}
article.page-content {
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
}
h1, h2, p {
  margin: 0;
}
h1, h2 {
  font-weight: bold;
}
h2, p { 
  width: 75%;
}
h1 {
  display: block;
  font-size: 5rem;
  line-height: 4rem;
  letter-spacing: -0.2rem;
  width: 75%;
}
h1 span {
  color: #ED1D1B;
}
h2 {
  font-size: 3.125rem;
  line-height: 3.125rem;
  word-spacing: -0.2rem;
  letter-spacing: -0.1rem;
}
p {
  font-weight: 600;
  font-size: 1.22rem;
  line-height: 1.4rem;
}
a {
  font-weight: inherit;
  font-size: inherit;
  font-style: italic;
  flex: inherit;
  color: inherit;
}
a:after {
  content: '⟶';
  text-decoration: none;
}
a:hover {
  color: #0000ff;
}
a:hover:after {
  content: '⟵';
}
span {
  font-feature-settings: 'ss01' 1;
  font-weight: bold;
}
span.link-span {
  font-style: italic;
}
span.image {
  display: block;
  width: 8rem;
  height: 8rem;
  background-image: url('/images/avatar-light.jpg');
  background-size: contain;
}
hr {
  width: 100%;
  margin: 4.375rem 0 0 0;
  border-top: 2px solid #000000;
  border-right: none;
  border-bottom: 2px solid #000000;
  border-left: none;
  background-color: #000000;
}

/* Mobile style settings */
@media screen and (max-width: 950px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 750px) {
  section {
    padding: 2.5rem 2.5rem 0 2.5rem;
  }
  section.portfolio {
    grid-template:
    'heading' auto
    'text' auto
    / auto;
  }
  section.blog {
    grid-template:
      'news' auto
      'articles' auto
      / 1fr;
  }
  section.news {
    grid-template:
      'heading' auto
      'news' auto
      / 1fr;
  }
  section.news hr {
    display: block;
  }
  section.articles {
    padding-top: 2.5rem;
  }
  article.page {
    width: auto;
  }
  article.empty {
    display: none;
  }
  h2 {
    width: auto;
    margin-bottom: 1.2rem;
  }
  p {
    width: auto;
    font-size: 1.83rem;
    line-height: 2.1rem;
  }
  span.image {
    margin-top: 2.5rem;
  }
}

/* Dark color theme style settings */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: #FFFFFF;
  }
  hr {
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    background-color: #FFFFFF;
  }
  span.image {
    background-image: url('/images/avatar-dark.jpg');
  }
}